---
title: Best Cloud Communication Platform for Businesses | MSG91 India
description: MSG91 India is one of the finest communication platforms that provide businesses to integrate themselves with SMS APIs, e-mail APIs, voice call APIs, etc.
locale: in
site_name: MSG91 cloud communication platform- SMS, Email, Voice, Authentication | MSG91 cloud communication platform-SMS, Email, Voice, Authentication
country: '/in'
---
<style type="text/css">


.ntegrate-bt .elementor-button-text {

	border-bottom : none;
}

  .element-widget-container {

	margin : 0px 0px 0px 0px;
  }
  .elementor-26 .elementor-element.elementor-element-77f7bf > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  } 

  .elementor-26 .elementor-element.elementor-element-5c78fe22 > .elementor-widget-container {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
}


	img.wp-smiley,
	img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 0.07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
</style>
<style id="global-styles-inline-css" type="text/css">
	body {
		--wp--preset--color--black: #000000;
		--wp--preset--color--cyan-bluish-gray: #abb8c3;
		--wp--preset--color--white: #ffffff;
		--wp--preset--color--pale-pink: #f78da7;
		--wp--preset--color--vivid-red: #cf2e2e;
		--wp--preset--color--luminous-vivid-orange: #ff6900;
		--wp--preset--color--luminous-vivid-amber: #fcb900;
		--wp--preset--color--light-green-cyan: #7bdcb5;
		--wp--preset--color--vivid-green-cyan: #00d084;
		--wp--preset--color--pale-cyan-blue: #8ed1fc;
		--wp--preset--color--vivid-cyan-blue: #0693e3;
		--wp--preset--color--vivid-purple: #9b51e0;
		--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
		--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
		--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
		--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
		--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
		--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
		--wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
		--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
		--wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
		--wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
		--wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
		--wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
		--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
		--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
		--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
		--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
		--wp--preset--duotone--midnight: url('#wp-duotone-midnight');
		--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
		--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
		--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
		--wp--preset--font-size--small: 13px;
		--wp--preset--font-size--medium: 20px;
		--wp--preset--font-size--large: 36px;
		--wp--preset--font-size--x-large: 42px;
	}

	.has-black-color {
		color: var(--wp--preset--color--black) !important;
	}

	.has-cyan-bluish-gray-color {
		color: var(--wp--preset--color--cyan-bluish-gray) !important;
	}

	.has-white-color {
		color: var(--wp--preset--color--white) !important;
	}

	.has-pale-pink-color {
		color: var(--wp--preset--color--pale-pink) !important;
	}

	.has-vivid-red-color {
		color: var(--wp--preset--color--vivid-red) !important;
	}

	.has-luminous-vivid-orange-color {
		color: var(--wp--preset--color--luminous-vivid-orange) !important;
	}

	.has-luminous-vivid-amber-color {
		color: var(--wp--preset--color--luminous-vivid-amber) !important;
	}

	.has-light-green-cyan-color {
		color: var(--wp--preset--color--light-green-cyan) !important;
	}

	.has-vivid-green-cyan-color {
		color: var(--wp--preset--color--vivid-green-cyan) !important;
	}

	.has-pale-cyan-blue-color {
		color: var(--wp--preset--color--pale-cyan-blue) !important;
	}

	.has-vivid-cyan-blue-color {
		color: var(--wp--preset--color--vivid-cyan-blue) !important;
	}

	.has-vivid-purple-color {
		color: var(--wp--preset--color--vivid-purple) !important;
	}

	.has-black-background-color {
		background-color: var(--wp--preset--color--black) !important;
	}

	.has-cyan-bluish-gray-background-color {
		background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
	}

	.has-white-background-color {
		background-color: var(--wp--preset--color--white) !important;
	}

	.has-pale-pink-background-color {
		background-color: var(--wp--preset--color--pale-pink) !important;
	}

	.has-vivid-red-background-color {
		background-color: var(--wp--preset--color--vivid-red) !important;
	}

	.has-luminous-vivid-orange-background-color {
		background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
	}

	.has-luminous-vivid-amber-background-color {
		background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
	}

	.has-light-green-cyan-background-color {
		background-color: var(--wp--preset--color--light-green-cyan) !important;
	}

	.has-vivid-green-cyan-background-color {
		background-color: var(--wp--preset--color--vivid-green-cyan) !important;
	}

	.has-pale-cyan-blue-background-color {
		background-color: var(--wp--preset--color--pale-cyan-blue) !important;
	}

	.has-vivid-cyan-blue-background-color {
		background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
	}

	.has-vivid-purple-background-color {
		background-color: var(--wp--preset--color--vivid-purple) !important;
	}

	.has-black-border-color {
		border-color: var(--wp--preset--color--black) !important;
	}

	.has-cyan-bluish-gray-border-color {
		border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
	}

	.has-white-border-color {
		border-color: var(--wp--preset--color--white) !important;
	}

	.has-pale-pink-border-color {
		border-color: var(--wp--preset--color--pale-pink) !important;
	}

	.has-vivid-red-border-color {
		border-color: var(--wp--preset--color--vivid-red) !important;
	}

	.has-luminous-vivid-orange-border-color {
		border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
	}

	.has-luminous-vivid-amber-border-color {
		border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
	}

	.has-light-green-cyan-border-color {
		border-color: var(--wp--preset--color--light-green-cyan) !important;
	}

	.has-vivid-green-cyan-border-color {
		border-color: var(--wp--preset--color--vivid-green-cyan) !important;
	}

	.has-pale-cyan-blue-border-color {
		border-color: var(--wp--preset--color--pale-cyan-blue) !important;
	}

	.has-vivid-cyan-blue-border-color {
		border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
	}

	.has-vivid-purple-border-color {
		border-color: var(--wp--preset--color--vivid-purple) !important;
	}

	.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
		background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
	}

	.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
		background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
	}

	.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
		background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
	}

	.has-luminous-vivid-orange-to-vivid-red-gradient-background {
		background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
	}

	.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
		background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
	}

	.has-cool-to-warm-spectrum-gradient-background {
		background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
	}

	.has-blush-light-purple-gradient-background {
		background: var(--wp--preset--gradient--blush-light-purple) !important;
	}

	.has-blush-bordeaux-gradient-background {
		background: var(--wp--preset--gradient--blush-bordeaux) !important;
	}

	.has-luminous-dusk-gradient-background {
		background: var(--wp--preset--gradient--luminous-dusk) !important;
	}

	.has-pale-ocean-gradient-background {
		background: var(--wp--preset--gradient--pale-ocean) !important;
	}

	.has-electric-grass-gradient-background {
		background: var(--wp--preset--gradient--electric-grass) !important;
	}

	.has-midnight-gradient-background {
		background: var(--wp--preset--gradient--midnight) !important;
	}

	.has-small-font-size {
		font-size: var(--wp--preset--font-size--small) !important;
	}

	.has-medium-font-size {
		font-size: var(--wp--preset--font-size--medium) !important;
	}

	.has-large-font-size {
		font-size: var(--wp--preset--font-size--large) !important;
	}

	.has-x-large-font-size {
		font-size: var(--wp--preset--font-size--x-large) !important;
	}
</style>

<style type="text/css" id="wp-custom-css">
	.testimonials .team-card .card-text {
		color: #b3b3b3;
	}

	.privacy-option-text a {
		color: #222222;
	}

	.infrastructure-box .elementor-widget-container,
	.infrastructure-box {
		height: 100%;
	}

	a.extrovert-faq {
		display: inline !important;
		text-decoration: underline;
	}

	span.extrovert-list {
		margin-left: 12px;
	}

	.b2b-text {
		min-height: 105px;
	}

	.b2b-card-header {
		min-height: 115px;
		background: #efefef;
		display: flex;
		align-items: center;
	}

	.wrapper-404 {
		padding: 80px 0;
	}

	.wrapper-404 h2 {
		font-size: 48px;
		font-weight: 500;
		color: #222222;
		margin: 55px 0 18px 0;
	}

	.wrapper-404 p {
		font-size: 18px;
		color: #8f8f8f;
	}

	.wrapper-404 p.use-links {
		font-size: 24px;
		color: #222;
	}

	.wrapper-404 p.use-links a {
		color: #1592E6;
		border-bottom: 1px solid #1592E6;
		margin: 0 5px;
	}

	.addons-card-header {
		background: #f9f9f9 !important;
		min-height: 110px;
		max-height: 110px;
		border: none !important;
		display: flex;
		align-items: center;
		overflow: hidden;
	}

	.addons-card-header.elementor-widget-image img {
		height: 80px;
		width: inherit;
		max-width: inherit;
	}

	.addons-card-header .elementor-widget-container {
		border: none !important;
	}

	.addons-card-text {
		min-height: 230px;
	}

	.addon-great-box a {
		color: #4f5258;
	}

	.setp-box {
		padding: 10px 0 1px 16px;
		background: #f5f7f9;
	}

	.setp-box h2 {
		text-transform: uppercase;
		font-family: "Proxima Nova", sans-serif;
		font-size: 16px;
		border-bottom: 1px solid;
		display: inline-block;
		padding: 0 32px 2px 0;
	}

	.setp-box p {
		font-size: 12px;
	}

	.setp-box.bg-dark {
		border-left: 20px solid #222;
	}

	.setp-box.bg-dark h2 {
		border-color: #222;
	}

	.setp-box.bg-yellow {
		border-left: 20px solid #bf941f;
	}

	.setp-box.bg-yellow h2 {
		border-color: #bf941f;
	}

	.setp-box.bg-green {
		border-left: 20px solid #537C7C;
	}

	.setp-box.bg-green h2 {
		border-color: #537C7C;
	}

	.spreadsheet-banner .elementor-heading-title span {
		background: url(https://msg91.com/wp-content/uploads/2020/07/spreadsheet-1.png) no-repeat;
		height: 100%;
		background-size: 100%;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		.flow-is-heading .elementor-widget-container {
			background-position: 12% 0px !important;
		}

		.trusted-text .elementor-widget-container {
			background-position: 151px 10px !important;
		}
	}

	@media (max-width: 1199px) {
		.fa2-heading .elementor-widget-container {
			background-position: 86% 3px;
		}

		.hello-stand-heading .elementor-widget-container {
			background-position: 50% 9px;
		}

		.flow-is-heading .elementor-widget-container {
			background-position: 12% 0px;
		}

		.trusted-text .elementor-widget-container {
			background-position: 143px 9px;
		}
	}

	@media(max-width: 1169px) {
		.send-2fa-heading .elementor-widget-container {
			background-position: 86% 3px !important;
		}

		.start-banner-head .elementor-widget-container {
			background-position: 63% 8px !important;
		}

		.startup-today-head br {
			display: none;
		}

		.startup-grow-heading .elementor-widget-container {
			background-position: -4px -1px !important;
		}

		.pro-vice-banner-h .elementor-widget-container {
			background-position: 0 51% !important;
		}

		.voice-direct-h .elementor-widget-container {
			background-position: 79% 1px;
		}

		.voice-heading .elementor-widget-container {
			background-position: 678px 4px !important;
			background-size: 175px !important;
		}

		.it-partners .elementor-widget-container {
			background-position: 429px 18px !important;
		}

		.trans-email-heading .elementor-widget-container {
			background-position: 0 120px !important;
		}

		.trans-intergration .elementor-heading-title {
			font-size: 35px !important;
		}

		.trans-intergration .elementor-widget-container {
			background-position: 38% 0px !important;
			background-size: 183px !important;
		}

		.trans-optimize-head .elementor-heading-title {
			font-size: 28px !important;
		}
	}

	@media(max-width: 991px) {
		.start-banner-head .elementor-widget-container {
			background-position: 100% 8px !important;
		}

		.voice-bild-box .elementor-column-wrap {
			height: 100%;
		}

		.it-partners .elementor-widget-container {
			background-position: 290px 4px !important;
		}

		.trans-email-heading .elementor-widget-container {
			background-position: 0 102px !important;
		}

		.trans-intergration .elementor-widget-container {
			background-position: 0 35px !important;
			background-size: 203px !important;
		}

		.direct-man-wrapper h3.elementor-heading-title {
			line-height: 39px;
			padding: 40px 0 50px 0;
		}
	}

	@media (max-width:767px) {
		.down-icon img {
			transform: rotate(90deg);
		}
	}

	@media(max-width: 450px) {
		.do-more-heading .elementor-widget-container {
			background-position: 10% 0px !important;
		}

		.flow-is-heading .elementor-widget-container {
			background-position: 2% 0px;
		}

		.home-invisible-heading .elementor-heading-title {
			font-size: 26px !important;
		}

		.start-banner-head .elementor-widget-container {
			background-position: 208px 2px !important;
			background-size: 150px auto !important;
		}

		.voice-direct-h .elementor-widget-container {
			background-position: 100% 0 !important;
			background-size: 35% auto !important;
		}

		.api-build-heading .elementor-widget-container {
			background-position: 25px 3px !important;
			background-size: 87px auto !important;
		}

		.it-partners .elementor-widget-container {
			background-position: 130PX 4px !important;
		}

		.wrapper-404 p.use-links {
			font-size: 16px;
		}

		.trans-intergration .elementor-widget-container {
			background-position: 160px 0 !important;
			background-size: 203px !important;
		}

		.direct-man-wrapper h3.elementor-heading-title {
			font-size: 24px;
		}
	}

	@media(max-width: 375px) {
		.wrapper-404 h2 {
			font-size: 38px;
		}

		.trans-email-heading .elementor-widget-container {
			background-position: -20px 75px !important;
		}
	}

	@media(max-width: 320px) {
		.wrapper-404 p.use-links {
			font-size: 13px;
		}

		.trans-intergration .elementor-heading-title {
			font-size: 28px !important;
		}

		.trans-intergration .elementor-widget-container {
			background-position: 89px -2px !important;
			background-size: 203px !important;
		}
	}
</style>



</head>

<body
	class="home page-template-default page page-id-26 wp-custom-logo mega-menu-primary-menu mega-menu-direct-signup-menu elementor-default elementor-kit-6 elementor-page elementor-page-26">
	

	<style>
		.carousel-control-prev-icon {
			background-image: url("data:image/svg+xml,%3csvg xmlns=" http: //www.w3.org/2000/svg" fill="%23fff" width="8" height="8" viewBox="0 0 8 8"%3e%3cpath d="M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z"/%3e%3c/svg%3e");
			}

			.carousel-control-next-icon {
				background-image: url("data:image/svg+xml,%3csvg xmlns=" http: //www.w3.org/2000/svg" fill="%23fff" width="8" height="8" viewBox="0 0 8 8"%3e%3cpath d="M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z"/%3e%3c/svg%3e");
				}

				.country-top {
					background: #393939;
					min-height: 70px;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					z-index: 9991;
					top:0;
				}

				.country-top p {
					font-size: 14px;
					color: #F7F8F8;
					margin: 7px 0 0 0;
				}

				.country-top select {
					width: 325px;
					background: #7c7c7c;
					color: #fff;
					border-radius: 0;
					background-image: url(https://msg91.com/wp-content/uploads/sites/4/2020/09/country_arrow.svg);
					background-repeat: no-repeat;
					background-position: center right 12px;
					appearance: none;
					-webkit-appearance: none !important;
					padding: 6px 0 4px 30px;
					position: relative;
				}

				.country-check {
					position: relative;
					right: -20px;
					z-index: 1;
				}

				.top-country-box button {
					background-color: #1E75BA;
					padding: 6px 15px 7px 16px;
					font-size: 16px;
					text-decoration: none;
					border-radius: 2px;
					margin-left: 16px;
					color: #fff;
					border: none;
				}

				.top-country-box button:hover {
					background-color: #7c7c7c;
				}

				.country-body {
					background-color: #454444 !important;
					padding: 30px 0 31px 0;
					max-width: 400px;
					margin: 0 auto;
					position: relative;
				}

				.country-body p {
					margin: 0 0 12px 30px;
					color: #fff;
					font-size: 18px;
					text-align:left;
				}

				.country-box {
					display: flex;
					padding: 0 30px 0 20px;
					position:relative;
				}

				.country-box button:hover {
					background-color: #000;
				}

				.country-body .close {
					color: #fff;
					opacity: 1;
					position: absolute;
					top: -20px;
					right: 15px;
					cursor: pointer;
				}


			  
	</style>


	<!-- end -->

	<div class="main-body">

		<div data-elementor-type="wp-page" data-elementor-id="26" class="elementor elementor-26"
			data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-3c89ce9f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="3c89ce9f" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-38de6305"
									data-id="38de6305" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<section
												class="elementor-section elementor-inner-section elementor-element elementor-element-543048d0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
												data-id="543048d0" data-element_type="section"
												data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-row">
														<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-6c3df7b3"
															data-id="6c3df7b3" data-element_type="column">
															<div
																class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-92f04b7 home-communication-box  home-new-banner elementor-widget elementor-widget-heading"
																		data-id="92f04b7" data-element_type="widget"
																		data-widget_type="heading.default">
																		<div class="elementor-widget-container">
																			<h1
																				class="elementor-heading-title elementor-size-default">
																				Cloud <span>Communication</span>
																				platform for all your ideas!</h1>
																		</div>
																	</div>
																	<div class="elementor-element elementor-element-3381e789 elementor-widget elementor-widget-heading"
																		data-id="3381e789" data-element_type="widget"
																		data-widget_type="heading.default">
																		<div class="elementor-widget-container">
																			<p
																				class="elementor-heading-title elementor-size-default">
																				Secure and Robust APIs for SMS, Email,
																				Voice, Authentication and more.</p>
																		</div>
																	</div>
																	<div class="elementor-element elementor-element-4925fb45 uael-gf-ajax-yes home-sginup-form uael-gf-style-box uael-gf-input-size-sm uael-gf-enable-classes-no uael-gf-button-left uael-gf-btn-size-sm elementor-widget elementor-widget-uael-gf-styler"
																		data-id="4925fb45" data-element_type="widget"
																		data-widget_type="uael-gf-styler.default">
																		<div class="elementor-widget-container text-center">
																			<a target="_blank" class="elementor-button" href="https://control.msg91.com/signup/" tabindex="0">Get Started</a>
																			<!-- <div
																				class="uael-gf-style uael-gf-check-style elementor-clickable">

																				<div class="gf_browser_chrome gform_wrapper gf_simple_horizontal_wrapper gform_legacy_markup_wrapper"
																					id="gform_wrapper_5">
																					<form method="post"
																						enctype="multipart/form-data"
																						target="gform_ajax_frame_5"
																						id="gform_5"
																						class="gf_simple_horizontal gform_legacy_markup"
																						action="/in/">
																						<div
																							class="gform_body gform-body">
																							<ul id="gform_fields_5"
																								class="gform_fields top_label form_sublabel_below description_below">
																								<li id="field_5_1"
																									class="gfield gf_inline gfield_contains_required field_sublabel_below field_description_below hidden_label gfield_visibility_visible">
																									<label
																										class="gfield_label"
																										for="input_5_1">Enter
																										your work email
																										ID<span
																											class="gfield_required"><span
																												class="gfield_required gfield_required_asterisk">*</span></span></label>
																									<div
																										class="ginput_container ginput_container_email">
																										<input
																											name="input_1"
																											id="input_5_1"
																											type="text"
																											value=""
																											class="large"
																											tabindex="1"
																											placeholder="Enter your work email ID"
																											aria-required="true"
																											aria-invalid="false">
																									</div>
																								</li>
																								<li id="field_5_2"
																									class="gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_visible">
																									<label
																										class="gfield_label"
																										for="input_5_2">Name</label>
																									<div
																										class="ginput_container">
																										<input
																											name="input_2"
																											id="input_5_2"
																											type="text"
																											value="">
																									</div>
																									<div class="gfield_description"
																										id="gfield_description_5_2">
																										This field is
																										for validation
																										purposes and
																										should be left
																										unchanged.</div>
																								</li>
																							</ul>
																						</div>
																						<div
																							class="gform_footer top_label">
																							<input type="submit"
																								id="gform_submit_button_5"
																								class="gform_button button"
																								value="Try for free"
																								tabindex="2"
																								onclick='if(window["gf_submitting_5"]){return false;}  window["gf_submitting_5"]=true;  '
																								onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_5"]){return false;} window["gf_submitting_5"]=true;  jQuery("#gform_5").trigger("submit",[true]); }'>
																							<input type="hidden"
																								name="gform_ajax"
																								value="form_id=5&amp;title=&amp;description=&amp;tabindex=1">
																							<input type="hidden"
																								class="gform_hidden"
																								name="is_submit_5"
																								value="1">
																							<input type="hidden"
																								class="gform_hidden"
																								name="gform_submit"
																								value="5">

																							<input type="hidden"
																								class="gform_hidden"
																								name="gform_unique_id"
																								value="">
																							<input type="hidden"
																								class="gform_hidden"
																								name="state_5"
																								value="WyJbXSIsIjUyMGQ2NTIxYTVjMWY2YzJjY2ZmZjM4NTllMDBmNWUwIl0=">
																							<input type="hidden"
																								class="gform_hidden"
																								name="gform_target_page_number_5"
																								id="gform_target_page_number_5"
																								value="0">
																							<input type="hidden"
																								class="gform_hidden"
																								name="gform_source_page_number_5"
																								id="gform_source_page_number_5"
																								value="1">
																							<input type="hidden"
																								name="gform_field_values"
																								value="">
																						</div>
																					</form>
																				</div>
																				<iframe
																					style="display:none;width:0px;height:0px;"
																					src="about:blank"
																					name="gform_ajax_frame_5"
																					id="gform_ajax_frame_5"
																					title="This iframe contains the logic required to handle Ajax powered Gravity Forms."></iframe>


																			</div> -->
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-25b4de14 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="25b4de14" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-10aea6e7"
									data-id="10aea6e7" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<section
												class="elementor-section elementor-inner-section elementor-element elementor-element-4e31a0c6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
												data-id="4e31a0c6" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-row">
														<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-4ff6d977"
															data-id="4ff6d977" data-element_type="column">
															<div
																class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-6ca07c02 elementor-widget elementor-widget-heading"
																		data-id="6ca07c02" data-element_type="widget"
																		data-widget_type="heading.default">
																		<div class="elementor-widget-container">
																			<h2
																				class="elementor-heading-title elementor-size-default">
																				Trusted by 30,000+ businesses</h2>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-582bf289 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="582bf289" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-2683be52"
									data-id="2683be52" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-4ab9658 elementor-widget elementor-widget-image"
												data-id="4ab9658" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<div class="elementor-image">
														<img src="/wp-content/uploads/sites/4/2020/12/xiaomi.svg"
															class="attachment-full size-full" alt="" loading="lazy">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-65f0daa7"
									data-id="65f0daa7" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-15afab70 elementor-widget elementor-widget-image"
												data-id="15afab70" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<div class="elementor-image">
														<img src="/wp-content/uploads/sites/4/2020/12/rozorpay.svg"
															class="attachment-full size-full" alt="" loading="lazy">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-61aed504"
									data-id="61aed504" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-36a4bc75 elementor-widget elementor-widget-image"
												data-id="36a4bc75" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<div class="elementor-image">
														<img src="/wp-content/uploads/sites/4/2020/12/indeed_logo.svg"
															class="attachment-full size-full" alt="" loading="lazy">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-597ac0c9"
									data-id="597ac0c9" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-57ffbab elementor-widget elementor-widget-image"
												data-id="57ffbab" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<div class="elementor-image">
														<img src="/wp-content/uploads/sites/4/2020/12/unacademy.svg"
															class="attachment-full size-full" alt="" loading="lazy">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-14362b98"
									data-id="14362b98" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-d4b0d73 elementor-widget elementor-widget-image"
												data-id="d4b0d73" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<div class="elementor-image">
														<img src="/wp-content/uploads/sites/4/2020/12/dream_11_logo.svg"
															class="attachment-full size-full" alt="" loading="lazy">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-238a5f75"
									data-id="238a5f75" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-1953a51 elementor-widget elementor-widget-image"
												data-id="1953a51" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<div class="elementor-image">
														<img src="/wp-content/uploads/sites/4/2020/12/patanjali-svg.svg"
															class="attachment-full size-full" alt="" loading="lazy">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-7b5ff10a elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="7b5ff10a" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-509d25b9"
									data-id="509d25b9" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-2d74c130 elementor-widget elementor-widget-text-editor"
												data-id="2d74c130" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<div class="elementor-text-editor elementor-clearfix">
														COMMUNICATION APIs </div>
												</div>
											</div>
											<div class="elementor-element elementor-element-774f188 home-empowr-heading elementor-widget elementor-widget-heading"
												data-id="774f188" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Empower
														conversations with <span> best-in-class</span> communication API
													</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-4d617be2 elementor-widget elementor-widget-text-editor"
												data-id="4d617be2" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<div class="elementor-text-editor elementor-clearfix">
														<p>Full-featured APIs for developers &amp; businesses to connect
															and engage their customers globally.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2baae791"
									data-id="2baae791" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-1ff039fd home-collapse elementor-widget elementor-widget-accordion"
												data-id="1ff039fd" data-element_type="widget"
												data-widget_type="accordion.default">
												<div class="elementor-widget-container">
													<div class="elementor-accordion" role="tablist">
														<div class="elementor-accordion-item">
															<div id="elementor-tab-title-5351"
																class="elementor-tab-title" data-tab="1" role="tab"
																aria-controls="elementor-tab-content-5351"
																aria-expanded="false">
																<span
																	class="elementor-accordion-icon elementor-accordion-icon-left"
																	aria-hidden="true">
																	<span class="elementor-accordion-icon-closed"><i
																			class="fas fa-chevron-down"></i></span>
																	<span class="elementor-accordion-icon-opened"><i
																			class="fas fa-chevron-up"></i></span>
																</span>
																<a class="elementor-accordion-title">SMS</a>
															</div>
															<div id="elementor-tab-content-5351"
																class="elementor-tab-content elementor-clearfix"
																data-tab="1" role="tabpanel"
																aria-labelledby="elementor-tab-title-5351">Engineered
																for high reliability, our globally distributed carrier
																network and intelligent routing ensure the highest SMS
																delivery and lowest latency. Automate sending SMS from
																any website, CRM, or application to connect with your
																customers worldwide.

																<a class="collapse-link"
																	href="/transactional-sms/">Learn more</a>
															</div>
														</div>
														<div class="elementor-accordion-item">
															<div id="elementor-tab-title-5352"
																class="elementor-tab-title" data-tab="2" role="tab"
																aria-controls="elementor-tab-content-5352"
																aria-expanded="false">
																<span
																	class="elementor-accordion-icon elementor-accordion-icon-left"
																	aria-hidden="true">
																	<span class="elementor-accordion-icon-closed"><i
																			class="fas fa-chevron-down"></i></span>
																	<span class="elementor-accordion-icon-opened"><i
																			class="fas fa-chevron-up"></i></span>
																</span>
																<a class="elementor-accordion-title">Email</a>
															</div>
															<div id="elementor-tab-content-5352"
																class="elementor-tab-content elementor-clearfix"
																data-tab="2" role="tabpanel"
																aria-labelledby="elementor-tab-title-5352">Deliver a
																consistent experience with Transactional Emails.
																Integrate &amp; deliver email within minutes with our
																developer-friendly APIs, deliver transactional emails
																that have high open rates
																<a class="collapse-link"
																	href="/transactional-email/">Learn more</a>
															</div>
														</div>
														<div class="elementor-accordion-item">
															<div id="elementor-tab-title-5353"
																class="elementor-tab-title" data-tab="3" role="tab"
																aria-controls="elementor-tab-content-5353"
																aria-expanded="false">
																<span
																	class="elementor-accordion-icon elementor-accordion-icon-left"
																	aria-hidden="true">
																	<span class="elementor-accordion-icon-closed"><i
																			class="fas fa-chevron-down"></i></span>
																	<span class="elementor-accordion-icon-opened"><i
																			class="fas fa-chevron-up"></i></span>
																</span>
																<a class="elementor-accordion-title">Voice</a>
															</div>
															<div id="elementor-tab-content-5353"
																class="elementor-tab-content elementor-clearfix"
																data-tab="3" role="tabpanel"
																aria-labelledby="elementor-tab-title-5353">Leverage
																voice communication with Voice call API by keeping a
																track of conversations. Make, manage, and route calls to
																your phone, app or website.

																<a class="collapse-link" href="/voice-call-api/">Learn
																	more</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-381d7e32 elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="381d7e32" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1fb922ff"
									data-id="1fb922ff" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-515b14e5 elementor-widget elementor-widget-image"
												data-id="515b14e5" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<div class="elementor-image">
														<img src="/wp-content/uploads/sites/4/2020/12/new-build.svg"
															class="attachment-full size-full" alt="" loading="lazy">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3fea9b9"
									data-id="3fea9b9" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-2b6b43e elementor-widget elementor-widget-text-editor"
												data-id="2b6b43e" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<div class="elementor-text-editor elementor-clearfix">
														CUSTOMER SUPPORT PLATFORM &#8211; HELLO </div>
												</div>
											</div>
											<div class="elementor-element elementor-element-1ff691aa home-global-h homenew-support-h elementor-widget elementor-widget-heading"
												data-id="1ff691aa" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Build
														better <span>support</span> for <br> your customers</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-49f96cdf elementor-widget elementor-widget-text-editor"
												data-id="49f96cdf" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<div class="elementor-text-editor elementor-clearfix">
														Not just connect, build relationships with your customers.
													</div>
												</div>
											</div>
											<div class="elementor-element elementor-element-1f01ac30 elementor-widget elementor-widget-text-editor"
												data-id="1f01ac30" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<div class="elementor-text-editor elementor-clearfix">
														Our flexible cloud customer support solution empowers your team
														to assist your customers across multiple channels making it easy
														for your customers and teams to connect and have a seamless
														conversation. </div>
												</div>
											</div>
											<div class="elementor-element elementor-element-77f7bf ntegrate-bt elementor-widget elementor-widget-button"
												data-id="77f7bf" data-element_type="widget"
												data-widget_type="button.default">
												<div class="elementor-widget-container">
													<div class="elementor-button-wrapper">
														<a href="/hello/"
															class="elementor-button-link elementor-button elementor-size-sm"
															role="button">
															<span class="elementor-button-content-wrapper">
																<span
																	class="elementor-button-icon elementor-align-icon-right">
																	<i aria-hidden="true"
																		class="fas fa-arrow-right"></i> </span>
																<span class="elementor-button-text">Learn more</span>
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-2d4a6364 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="2d4a6364" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-52833fb6"
									data-id="52833fb6" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-22bfe5b1 elementor-align-center elementor-mobile-align-center msg91-bt elementor-widget elementor-widget-button"
												data-id="22bfe5b1" data-element_type="widget"
												data-widget_type="button.default">
												<div class="elementor-widget-container">
													<div class="elementor-button-wrapper">
														<a href="https://control.msg91.com/signup/" target="_blank"
															class="elementor-button-link elementor-button elementor-size-sm"
															role="button">
															<span class="elementor-button-content-wrapper">
																<span class="elementor-button-text">Get Started for
																	FREE</span>
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-1b8e0fd3 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="1b8e0fd3" data-element_type="section"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6fc0af90"
									data-id="6fc0af90" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-59b1f9db elementor-widget elementor-widget-text-editor"
												data-id="59b1f9db" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<div class="elementor-text-editor elementor-clearfix">
														2 FACTOR AUTHENTICATION &#8211; SendOTP </div>
												</div>
											</div>
											<div class="elementor-element elementor-element-5cc2e930 home-global-h homenew-support-h elementor-widget elementor-widget-heading"
												data-id="5cc2e930" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Verify
														your customers across the world with 2FA
													</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-35f1433e elementor-widget elementor-widget-text-editor"
												data-id="35f1433e" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<div class="elementor-text-editor elementor-clearfix">
														Easily add a layer of protection to authenticate new and
														existing customers using the dedicated SendOTP platform. </div>
												</div>
											</div>
											<div class="elementor-element elementor-element-203d6be2 elementor-widget elementor-widget-text-editor"
												data-id="203d6be2" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<div class="elementor-text-editor elementor-clearfix">
														Integrate 2FA in your web or mobile application to provide quick
														and reliable authentication. </div>
												</div>
											</div>
											<div class="elementor-element elementor-element-5c78fe22 ntegrate-bt elementor-widget elementor-widget-button"
												data-id="5c78fe22" data-element_type="widget"
												data-widget_type="button.default">
												<div class="elementor-widget-container">
													<div class="elementor-button-wrapper">
														<a href="/send-otp/"
															class="elementor-button-link elementor-button elementor-size-sm"
															role="button">
															<span class="elementor-button-content-wrapper">
																<span
																	class="elementor-button-icon elementor-align-icon-right">
																	<i aria-hidden="true"
																		class="fas fa-arrow-right"></i> </span>
																<span class="elementor-button-text">Learn more</span>
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1f1536fb"
									data-id="1f1536fb" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-2113d926 elementor-widget elementor-widget-image"
												data-id="2113d926" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<div class="elementor-image">
														<img src="/wp-content/uploads/sites/4/2021/01/2FA-with-Invisible-Verification.svg"
															class="attachment-full size-full" alt="" loading="lazy">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-7e1234cf elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="7e1234cf" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-20ad45cd"
									data-id="20ad45cd" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-41d10d05 elementor-widget elementor-widget-shortcode"
												data-id="41d10d05" data-element_type="widget"
												data-widget_type="shortcode.default">
												<div class="elementor-widget-container">
													<div class="elementor-shortcode">
														<style>
															.slide-detail {
																text-align: left;
															}

															.slide-box p {
																font-weight: 600;
																color: #222;
																font-size: 22px;
															}

															.slide-detail h2 {
																font-size: 18px;
																font-weight: bold;
																color: #222;
																margin: 30px 0 0 0;
															}

															.carousel-indicators {
																bottom: -25px;
																background: #E5E5E5;
																max-width: 300px;
																margin: 0;
																left: 48%;
																transform: translateX(-50%);
															}

															.home-slide-box .carousel-indicators li {
																width: 100px;
																;
																height: 3px;
																background: #E5E5E5;
																border-radius: 0;
																cursor: pointer;
																opacity: 1;
																border: none;
																margin: 0;
															}

															.home-slide-box li.active {
																background: #222;
															}

															.slide-img-box {
																position: relative;
																padding-top: 35px;
																background: #fff;
																max-width: 208px;
																height: 202px;
																border: 3px solid #222;
																display: flex;
																justify-content: center;
																align-items: center;
																border-radius: 10px;
																margin-left: 52px;
																padding: 55px 0;
																margin-top: 15px;
																box-shadow: 2px 6px 20px #00000029;
															}

															.slide-img-box:before {
																content: '';
																position: absolute;
																top: -25px;
																left: -34px;
																width: 100%;
																height: 100%;
																background: url(https://msg91.com/wp-content/uploads/2020/12/home-slide-bg.png) no-repeat;
																z-index: -1;
															}

															.slide-img-box img {
																max-width: 170px;
																object-fit: cover;
															}

															@media (max-width:991px) {
																.slide-detail {
																	padding: 0 20px;
																}

																.slide-box p {
																	font-size: 20px;
																	text-align: left;
																}

																.slide-detail h2 {
																	text-align: left;
																}

																.slide-img-box img {
																	max-width: 130px;
																}

																.slide-img-box {
																	height: 165px;
																}

																.carousel-indicators {
																	bottom: -30px;
																}
															}
														</style>
														<div id="carouselExampleIndicators"
															class="carousel home-slide-box slide" data-ride="carousel">
															<ol class="carousel-indicators">
																<li data-target="#carouselExampleIndicators"
																	data-slide-to="0" class="active">
																<li data-target="#carouselExampleIndicators"
																	data-slide-to="1">
																<li data-target="#carouselExampleIndicators"
																	data-slide-to="2">
															</ol>
															<div class="carousel-inner">
																<div class="carousel-item slide-box active text-center">
																	<div class="row align-items-center">
																		<div class="col-md-4">
																			<div class="slide-img-box">
																				<div class="slide-img-inner">
																					<img class="img-fluid prev-slide-image"
																						src="/wp-content/uploads/sites/4/2020/09/india_lends_new.svg"
																						alt="Aditya Sriganesh">
																				</div>
																			</div>
																		</div>
																		<div class="col-md-8">
																			<div class="slide-detail">
																				<p>MSG91 has helped us in delivering
																					great customer experience through
																					consistent communication!</p>
																				<h2>Aditya Sriganesh</h2>
																			</div>
																		</div>
																	</div>

																</div>
																<div class="carousel-item slide-box  text-center">
																	<div class="row align-items-center">
																		<div class="col-md-4">
																			<div class="slide-img-box">
																				<div class="slide-img-inner">
																					<img class="img-fluid prev-slide-image"
																						src="/wp-content/uploads/sites/4/2020/09/pb_logo.svg"
																						alt="Sushant Khairnar">
																				</div>
																			</div>
																		</div>
																		<div class="col-md-8">
																			<div class="slide-detail">
																				<p>You guys have been instrumental in
																					getting our customer connect via Sms
																					trustworthy. Appreciate your
																					technical support services as well.
																					Quite responsive.</p>
																				<h2>Sushant Khairnar</h2>
																			</div>
																		</div>
																	</div>

																</div>
																<div class="carousel-item slide-box  text-center">
																	<div class="row align-items-center">
																		<div class="col-md-4">
																			<div class="slide-img-box">
																				<div class="slide-img-inner">
																					<img class="img-fluid prev-slide-image"
																						src="/wp-content/uploads/sites/4/2020/09/ixigo_new.svg"
																						alt="Manan Bajoria">
																				</div>
																			</div>
																		</div>
																		<div class="col-md-8">
																			<div class="slide-detail">
																				<p>MSG91 has been an extremely reliable
																					communication service for us. Their
																					OTP infra has been instrumental in
																					reducing customer drop-outs. Great
																					support too!

																				</p>
																				<h2>Manan Bajoria</h2>
																			</div>
																		</div>
																	</div>

																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-1181aac3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="1181aac3" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-474c9221 homenew-experience-box"
									data-id="474c9221" data-element_type="column"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<section
												class="elementor-section elementor-inner-section elementor-element elementor-element-50edd73a elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
												data-id="50edd73a" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-row">
														<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5aa88d57"
															data-id="5aa88d57" data-element_type="column">
															<div
																class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-ad4d418 elementor-widget elementor-widget-image"
																		data-id="ad4d418" data-element_type="widget"
																		data-widget_type="image.default">
																		<div class="elementor-widget-container">
																			<div class="elementor-image">
																				<img width="295" height="252"
																					src="/wp-content/uploads/sites/4/2021/01/home-exp.png"
																					class="attachment-full size-full"
																					alt="" loading="lazy">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4286144f"
															data-id="4286144f" data-element_type="column">
															<div
																class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-5fb8c2cb elementor-widget elementor-widget-heading"
																		data-id="5fb8c2cb" data-element_type="widget"
																		data-widget_type="heading.default">
																		<div class="elementor-widget-container">
																			<h2
																				class="elementor-heading-title elementor-size-default">
																				Experience the awesomeness yourself</h2>
																		</div>
																	</div>
																	<div class="elementor-element elementor-element-7d9db088 elementor-align-left elementor-mobile-align-center msg91-bt elementor-widget elementor-widget-button"
																		data-id="7d9db088" data-element_type="widget"
																		data-widget_type="button.default">
																		<div class="elementor-widget-container">
																			<div class="elementor-button-wrapper">
																				<a href="https://control.msg91.com/signup/"
																					target="_blank"
																					class="elementor-button-link elementor-button elementor-size-sm"
																					role="button">
																					<span
																						class="elementor-button-content-wrapper">
																						<span
																							class="elementor-button-text">Get
																							Started for FREE</span>
																					</span>
																				</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-7a3df180 faq-box elementor-section-boxed elementor-section-height-default elementor-section-height-default"
						data-id="7a3df180" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-477bf6f9"
									data-id="477bf6f9" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-3bae31bc elementor-widget elementor-widget-heading"
												data-id="3bae31bc" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h3 class="elementor-heading-title elementor-size-default">FAQs</h3>
												</div>
											</div>
											<div class="elementor-element elementor-element-3a47631f align-at-right uael-faq-box-layout-yes elementor-widget elementor-widget-uael-faq"
												data-id="3a47631f" data-element_type="widget"
												data-widget_type="uael-faq.default">
												<div class="elementor-widget-container">

													<div id="uael-faq-wrapper-977" class="uael-faq-wrapper">
														<div class="uael-faq-container uael-faq-layout-accordion"
															data-layout="toggle">
															<div id="uael-accordion-b8d4088" class="uael-faq-accordion"
																role="tablist">
																<div class="uael-accordion-title" aria-expanded="false"
																	role="tab">
																	<span
																		class="uael-accordion-icon uael-accordion-icon-right">
																		<span class="uael-accordion-icon-closed"><i
																				class="fas fa-angle-down"></i></span>
																		<span class="uael-accordion-icon-opened"><i
																				class="fas fa-angle-up"></i></span>
																	</span>
																	<p class="uael-question-b8d4088 uael-question-span"
																		tabindex="0" id="uael-faq-1">What are the
																		communication APIs?</p>
																</div>
																<div class="uael-accordion-content" role="tabpanel">
																	<span>
																		<span>
																			<p><span style="font-weight: 400">Built for
																					the communications space,
																					communication APIs define rules of
																					the possible interactions between
																					servers and communication
																					applications. They also function as
																					the communication layer between
																					applications and databases. Easy
																					integrations and cost effective
																					solutions.</span></p>
																		</span> </span>
																</div>
															</div>
															<div id="uael-accordion-34af356" class="uael-faq-accordion"
																role="tablist">
																<div class="uael-accordion-title" aria-expanded="false"
																	role="tab">
																	<span
																		class="uael-accordion-icon uael-accordion-icon-right">
																		<span class="uael-accordion-icon-closed"><i
																				class="fas fa-angle-down"></i></span>
																		<span class="uael-accordion-icon-opened"><i
																				class="fas fa-angle-up"></i></span>
																	</span>
																	<p class="uael-question-34af356 uael-question-span"
																		tabindex="0" id="uael-faq-2">How MSG91 is
																		evolving as a CPaaS leader?</p>
																</div>
																<div class="uael-accordion-content" role="tabpanel">
																	<span>
																		<span>
																			<p><span style="font-weight: 400">Founded in
																					2010, MSG91 over the years has built
																					a robust product portfolio of
																					communication services over a broad
																					set of APIs, all available in
																					off-the-shelf modules. We thrive on
																					innovation and ease-of-use by
																					constantly upgrading services and
																					features to our core offerings
																					making MSG91 one of the most
																					feature-rich CPaaS platforms.</span>
																			</p>
																		</span> </span>
																</div>
															</div>
															<div id="uael-accordion-2be3984" class="uael-faq-accordion"
																role="tablist">
																<div class="uael-accordion-title" aria-expanded="false"
																	role="tab">
																	<span
																		class="uael-accordion-icon uael-accordion-icon-right">
																		<span class="uael-accordion-icon-closed"><i
																				class="fas fa-angle-down"></i></span>
																		<span class="uael-accordion-icon-opened"><i
																				class="fas fa-angle-up"></i></span>
																	</span>
																	<p class="uael-question-2be3984 uael-question-span"
																		tabindex="0" id="uael-faq-3">I'm already using
																		other services. How do I switch to your
																		solution?</p>
																</div>
																<div class="uael-accordion-content" role="tabpanel">
																	<span>
																		<span>
																			<p><span style="font-weight: 400">You can
																					switch in just a few steps, you need
																					to create your account with MSG91.
																					Our Support Superheroes will help
																					you in the integration
																					process.</span><span
																					style="font-weight: 400"><br></span><span
																					style="font-weight: 400">You can
																					also refer migration guides to ease
																					out the process.</span></p>
																		</span> </span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-element elementor-element-7b789a3e faq-bt elementor-align-center elementor-widget elementor-widget-button"
												data-id="7b789a3e" data-element_type="widget"
												data-widget_type="button.default">
												<div class="elementor-widget-container">
													<div class="elementor-button-wrapper">
														<a href="https://help.msg91.com/" target="_blank"
															class="elementor-button-link elementor-button elementor-size-sm"
															role="button">
															<span class="elementor-button-content-wrapper">
																<span
																	class="elementor-button-icon elementor-align-icon-right">
																	<i aria-hidden="true"
																		class="fas fa-arrow-right"></i> </span>
																<span class="elementor-button-text">Refer more
																	FAQs</span>
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="footer-top-bg text-center"> </div>

		<!--|---------------------------Choose-Country-Modal-----------------------------|-->
		<div style="display: none;" class="modal fade" id="loginModalCustom" role="dialog"
			aria-labelledby="loginModalCustomTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content country-body rounded-0 border-0">
					<div class="modal-body text-center">
						<p class="text-left">Choose your country or region</p>
						<div class="country-box">
							<img class="country-check"
								src="https://msg91.com/wp-content/uploads/2020/09/country_check.svg"
								alt="country check">
							<select name="selectedCountry" id="selectedCountry">
								<option value="india" selected>India</option>
								<option value="other">Other country
									or region</option>
							</select>
							<button type="button" class="" onclick="changeCountry()">Continue</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--|---------------------------End--------------------|-->

		<!-- WP Cookie Notice for GDPR, CCPA & ePrivacy Consent v2.0.7 by WPEka Club - https://wordpress.org/plugins/gdpr-cookie-consent/ -->
		<div id="gdpr-cookie-consent-bar"
			class="gdpr gdpr-banner gdpr-default banner-default layout-default theme-muteweb">
			<div class="gdpr_messagebar_content">
				<h3 class="gdpr_messagebar_head">Cookies...</h3>
				<div class="group-description" tabindex="0">
					<p class="gdpr">MSG91.com uses cookies to improve your experience. Well assume youre ok with this,
						but you can opt-out if you wish.
						<a id="cookie_action_link" href="/cookie-policy/" class="gdpr_link_button" target="_blank">Read
							More</a>
					</p>
				</div>
				<div class="gdpr group-description-buttons">
					<a id="cookie_action_accept" class="gdpr_action_button btn" tabindex="0" aria-label="Accept"
						href="#" data-gdpr_action="accept">Yay!</a>
					<a id="cookie_action_reject" class="gdpr_action_button btn" tabindex="0" aria-label="Reject"
						href="#" data-gdpr_action="reject">Decline</a>
					<a id="cookie_action_settings" class="gdpr_action_button " tabindex="0" aria-label="Cookie Settings"
						href="#" data-gdpr_action="show_settings"> Cookie Settings</a>
				</div>
			</div>
			<div class="gdpr_messagebar_detail" style="display:none;max-width:800px;">
				<div>I consent to the use of following cookies:</div>
				<div id="gdpr_messagebar_body_buttons_select_pane">
					<div class="gdpr_messagebar_body_buttons_wrapper">
						<input type="checkbox" id="gdpr_messagebar_body_button_necessary"
							class="gdpr_messagebar_body_button gdpr_messagebar_body_button_disabled" disabled checked
							value="necessary">
						<label for="gdpr_messagebar_body_button_necessary">Necessary</label>
					</div>
					<div class="gdpr_messagebar_body_buttons_wrapper">
						<input type="checkbox" id="gdpr_messagebar_body_button_marketing"
							class="gdpr_messagebar_body_button" tabindex="0" value="marketing">
						<label for="gdpr_messagebar_body_button_marketing">Marketing</label>
					</div>
					<div class="gdpr_messagebar_body_buttons_wrapper">
						<input type="checkbox" id="gdpr_messagebar_body_button_analytics"
							class="gdpr_messagebar_body_button" tabindex="0" value="analytics">
						<label for="gdpr_messagebar_body_button_analytics">Analytics</label>
					</div>
					<div class="gdpr_messagebar_body_buttons_wrapper">
						<input type="checkbox" id="gdpr_messagebar_body_button_preferences"
							class="gdpr_messagebar_body_button" tabindex="0" value="preferences">
						<label for="gdpr_messagebar_body_button_preferences">Preferences</label>
					</div>
					<div class="gdpr_messagebar_body_buttons_wrapper">
						<input type="checkbox" id="gdpr_messagebar_body_button_unclassified"
							class="gdpr_messagebar_body_button" tabindex="0" value="unclassified">
						<label for="gdpr_messagebar_body_button_unclassified">Unclassified</label>
					</div>
				</div>
				<div id="gdpr_messagebar_detail_body">
					<div id="gdpr_messagebar_detail_body_content_tabs">
						<a id="gdpr_messagebar_detail_body_content_tabs_overview"
							class="gdpr_messagebar_detail_body_content_tab gdpr_messagebar_detail_body_content_tab_item_selected"
							tabindex="0" href="#">Cookie Declaration</a>
						<a id="gdpr_messagebar_detail_body_content_tabs_about"
							class="gdpr_messagebar_detail_body_content_tab" tabindex="0" href="#">About Cookies</a>
					</div>
					<div id="gdpr_messagebar_detail_body_content">
						<div id="gdpr_messagebar_detail_body_content_overview" style="display:block;">
							<div id="gdpr_messagebar_detail_body_content_overview_cookie_container">
								<div id="gdpr_messagebar_detail_body_content_overview_cookie_container_types">
									<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_necessary"
										id="gdpr_messagebar_detail_body_content_overview_cookie_container_necessary"
										class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                    gdpr_messagebar_detail_body_content_overview_cookie_container_type_selected
                                                " tabindex="0" href="#">Necessary (0)</a>
									<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_marketing"
										id="gdpr_messagebar_detail_body_content_overview_cookie_container_marketing"
										class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                " tabindex="0" href="#">Marketing (0)</a>
									<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_analytics"
										id="gdpr_messagebar_detail_body_content_overview_cookie_container_analytics"
										class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                " tabindex="0" href="#">Analytics (0)</a>
									<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_preferences"
										id="gdpr_messagebar_detail_body_content_overview_cookie_container_preferences"
										class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                " tabindex="0" href="#">Preferences (0)</a>
									<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_unclassified"
										id="gdpr_messagebar_detail_body_content_overview_cookie_container_unclassified"
										class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                " tabindex="0" href="#">Unclassified (0)</a>
								</div>
								<div id="gdpr_messagebar_detail_body_content_overview_cookie_container_type_details">
									<div id="gdpr_messagebar_detail_body_content_cookie_tabs_necessary" tabindex="0"
										style="display:block;"
										class="gdpr_messagebar_detail_body_content_cookie_type_details">
										<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
											Necessary cookies help make a website usable by enabling basic functions
											like page navigation and access to secure areas of the website. The website
											cannot function properly without these cookies.
										</div>
										<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
											We do not use cookies of this type.
										</div>
									</div>
									<div id="gdpr_messagebar_detail_body_content_cookie_tabs_marketing" tabindex="0"
										style="display:none;"
										class="gdpr_messagebar_detail_body_content_cookie_type_details">
										<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
											Marketing cookies are used to track visitors across websites. The intention
											is to display ads that are relevant and engaging for the individual user and
											thereby more valuable for publishers and third party advertisers.
										</div>
										<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
											We do not use cookies of this type.
										</div>
									</div>
									<div id="gdpr_messagebar_detail_body_content_cookie_tabs_analytics" tabindex="0"
										style="display:none;"
										class="gdpr_messagebar_detail_body_content_cookie_type_details">
										<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
											Analytics cookies help website owners to understand how visitors interact
											with websites by collecting and reporting information anonymously.
										</div>
										<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
											We do not use cookies of this type.
										</div>
									</div>
									<div id="gdpr_messagebar_detail_body_content_cookie_tabs_preferences" tabindex="0"
										style="display:none;"
										class="gdpr_messagebar_detail_body_content_cookie_type_details">
										<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
											Preference cookies enable a website to remember information that changes the
											way the website behaves or looks, like your preferred language or the region
											that you are in.
										</div>
										<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
											We do not use cookies of this type.
										</div>
									</div>
									<div id="gdpr_messagebar_detail_body_content_cookie_tabs_unclassified" tabindex="0"
										style="display:none;"
										class="gdpr_messagebar_detail_body_content_cookie_type_details">
										<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
											Unclassified cookies are cookies that we are in the process of classifying,
											together with the providers of individual cookies.
										</div>
										<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
											We do not use cookies of this type.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="gdpr_messagebar_detail_body_content_about" style="display:none;">
							Cookies are small text files that can be used by websites to make a user's experience more
							efficient. The law states that we can store cookies on your device if they are strictly
							necessary for the operation of this site. For all other types of cookies we need your
							permission. This site uses different types of cookies. Some cookies are placed by third
							party services that appear on our pages.
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="gdpr-cookie-consent-show-again" class="gdpr gdpr-banner gdpr-default banner-default layout-default">
			<span>Cookie Settings</span>
		</div>
		<style>
			.gdpr_messagebar_detail .category-group .category-item .description-container .group-toggle .checkbox input:checked+label:after,
			.gdpr_messagebar_detail.layout-classic .category-group .toggle-group .checkbox input:checked+label:after {
				background: #f3f3f3 !important;
			}

			.gdpr_messagebar_detail .gdprmodal-dialog .gdprmodal-header .close,
			#gdpr-ccpa-gdprmodal .gdprmodal-dialog .gdprmodal-body .close {
				color: #f3f3f3 !important;
			}
		</style>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none"
			style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-dark-grayscale">
					<fecolormatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 ">
					</fecolormatrix>
					<fecomponenttransfer color-interpolation-filters="sRGB">
						<fefuncr type="table" tablevalues="0 0.49803921568627"></fefuncr>
						<fefuncg type="table" tablevalues="0 0.49803921568627"></fefuncg>
						<fefuncb type="table" tablevalues="0 0.49803921568627"></fefuncb>
						<fefunca type="table" tablevalues="1 1"></fefunca>
					</fecomponenttransfer>
					<fecomposite in2="SourceGraphic" operator="in"></fecomposite>
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-grayscale">
					<fecolormatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 ">
					</fecolormatrix>
					<fecomponenttransfer color-interpolation-filters="sRGB">
						<fefuncr type="table" tablevalues="0 1"></fefuncr>
						<fefuncg type="table" tablevalues="0 1"></fefuncg>
						<fefuncb type="table" tablevalues="0 1"></fefuncb>
						<fefunca type="table" tablevalues="1 1"></fefunca>
					</fecomponenttransfer>
					<fecomposite in2="SourceGraphic" operator="in"></fecomposite>
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-purple-yellow">
					<fecolormatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 ">
					</fecolormatrix>
					<fecomponenttransfer color-interpolation-filters="sRGB">
						<fefuncr type="table" tablevalues="0.54901960784314 0.98823529411765"></fefuncr>
						<fefuncg type="table" tablevalues="0 1"></fefuncg>
						<fefuncb type="table" tablevalues="0.71764705882353 0.25490196078431"></fefuncb>
						<fefunca type="table" tablevalues="1 1"></fefunca>
					</fecomponenttransfer>
					<fecomposite in2="SourceGraphic" operator="in"></fecomposite>
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-blue-red">
					<fecolormatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 ">
					</fecolormatrix>
					<fecomponenttransfer color-interpolation-filters="sRGB">
						<fefuncr type="table" tablevalues="0 1"></fefuncr>
						<fefuncg type="table" tablevalues="0 0.27843137254902"></fefuncg>
						<fefuncb type="table" tablevalues="0.5921568627451 0.27843137254902"></fefuncb>
						<fefunca type="table" tablevalues="1 1"></fefunca>
					</fecomponenttransfer>
					<fecomposite in2="SourceGraphic" operator="in"></fecomposite>
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-midnight">
					<fecolormatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 ">
					</fecolormatrix>
					<fecomponenttransfer color-interpolation-filters="sRGB">
						<fefuncr type="table" tablevalues="0 0"></fefuncr>
						<fefuncg type="table" tablevalues="0 0.64705882352941"></fefuncg>
						<fefuncb type="table" tablevalues="0 1"></fefuncb>
						<fefunca type="table" tablevalues="1 1"></fefunca>
					</fecomponenttransfer>
					<fecomposite in2="SourceGraphic" operator="in"></fecomposite>
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-magenta-yellow">
					<fecolormatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 ">
					</fecolormatrix>
					<fecomponenttransfer color-interpolation-filters="sRGB">
						<fefuncr type="table" tablevalues="0.78039215686275 1"></fefuncr>
						<fefuncg type="table" tablevalues="0 0.94901960784314"></fefuncg>
						<fefuncb type="table" tablevalues="0.35294117647059 0.47058823529412"></fefuncb>
						<fefunca type="table" tablevalues="1 1"></fefunca>
					</fecomponenttransfer>
					<fecomposite in2="SourceGraphic" operator="in"></fecomposite>
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-purple-green">
					<fecolormatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 ">
					</fecolormatrix>
					<fecomponenttransfer color-interpolation-filters="sRGB">
						<fefuncr type="table" tablevalues="0.65098039215686 0.40392156862745"></fefuncr>
						<fefuncg type="table" tablevalues="0 1"></fefuncg>
						<fefuncb type="table" tablevalues="0.44705882352941 0.4"></fefuncb>
						<fefunca type="table" tablevalues="1 1"></fefunca>
					</fecomponenttransfer>
					<fecomposite in2="SourceGraphic" operator="in"></fecomposite>
				</filter>
			</defs>
		</svg><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false"
			role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-blue-orange">
					<fecolormatrix color-interpolation-filters="sRGB" type="matrix"
						values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 ">
					</fecolormatrix>
					<fecomponenttransfer color-interpolation-filters="sRGB">
						<fefuncr type="table" tablevalues="0.098039215686275 1"></fefuncr>
						<fefuncg type="table" tablevalues="0 0.66274509803922"></fefuncg>
						<fefuncb type="table" tablevalues="0.84705882352941 0.41960784313725"></fefuncb>
						<fefunca type="table" tablevalues="1 1"></fefunca>
					</fecomponenttransfer>
					<fecomposite in2="SourceGraphic" operator="in"></fecomposite>
				</filter>
			</defs>
		</svg>
		<link rel="stylesheet" id="gforms_reset_css-css"
			href="/wp-content/plugins/gravityforms/legacy/css/formreset.min.css?ver=2.5.16" type="text/css" media="all">
		<link rel="stylesheet" id="gforms_formsmain_css-css"
			href="/wp-content/plugins/gravityforms/legacy/css/formsmain.min.css?ver=2.5.16" type="text/css" media="all">
		<link rel="stylesheet" id="gforms_ready_class_css-css"
			href="/wp-content/plugins/gravityforms/legacy/css/readyclass.min.css?ver=2.5.16" type="text/css"
			media="all">
		<link rel="stylesheet" id="gforms_browsers_css-css"
			href="/wp-content/plugins/gravityforms/legacy/css/browsers.min.css?ver=2.5.16" type="text/css" media="all">
		<link rel="stylesheet" id="swe_gf_countrycode_script_css-css"
			href="/wp-content/plugins/swe-country-code-field-gf-add-on/css/swe_gf_countrycode_style.css?ver=2.1.0"
			type="text/css" media="all">
		<link rel="stylesheet" id="gdpr-cookie-consent-css"
			href="/wp-content/plugins/gdpr-cookie-consent/public/css/gdpr-cookie-consent-public.min.css?ver=2.0.7"
			type="text/css" media="all">
		<link rel="stylesheet" id="e-animations-css"
			href="/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.5.5" type="text/css"
			media="all">




































		<!-- 
 -->
		<!-- Google Code for Remarketing tag -->
		<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->








		<!-- to change the country -->



		<!--  Code for Phone Number Fields Accepts only numbers -->



		<!-- Code To Change the Tabs into the Dropdown in Mobile View -->

		<!-- Jquery Scroll to div  ----->







	</div>
</body>

</html>