<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->

  <!-- <link rel="stylesheet/less" type="text/scss" href="index.scss" /> -->
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <!-- <script src="index.js"></script> -->
</head>

<body>
  <header class="updateBar border-bottom">
    <div class="container">
      <div class="d-flex">
        <span class="height badge bg-success ms-3 mt-1">update</span>
        <span class="nav-link col-9 link-dark ms-3 mt-2">New campaign version 2.0 is released</span>

        <ul class="nav col-6 col-lg-auto justify-content-center">
          <li><a href="#" class="nav-link link-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" fill="currentColor" class="bi bi-globe"
                viewBox="0 0 16 16">
                <path
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z" />
              </svg>
              India
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" fill="currentColor"
                class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </a></li>
          <li><a href="#" class="nav-link link-dark">Support</a></li>
          <li><a href="#" class="nav-link link-dark">Sign in</a></li>
        </ul>

      </div>
    </div>
  </header>

  <div class="navigationBar container d-flex justify-content-space-between align-items-center">
    <ul class="nav col-6 col-auto">
      <li><a href="#" class="nav-link link-dark">Products</a></li>
      <li><a href="#" class="nav-link link-dark">Learning center</a></li>
      <li><a href="#" class="nav-link link-dark">Pricing</a></li>
    </ul>
    <ul class="nav col-4 col-auto ms-1"><img src="msg91.svg" alt="#"></ul>
    <ul class="nav col-4 col-auto">
      <li><a href="#" class="nav-link link-dark">API Documentations</a></li>
      <span class="badgeHeight badge bg-primary mt-1">Sign Up</span>
    </ul>
  </div>

  <a href="#"
    class="info container align-items-center justify-content-center list-group-item list-group-item-action mt-5">
    <div class="d-flex justify-content-center mt-5">
      <h2 class="d-flex justify-content-center mb-1 fs-1"><strong>Cloud communication platform</strong></h2>
    </div>
    <div class="d-flex justify-content-center">
      <p class="mb-1 fs-5">Customer conversation, segmentation, verification, notification.</p>
    </div>
    <div class="d-flex justify-content-center">
      <p class="mb-1 fs-5">The All-In-One CpaaS Platform.</p>
    </div>
    <ul class="nav col-12 col-auto justify-content-center">
      <span class="badge_Height badge bg-primary mt-2">Get Started</span>
    </ul>
  </a>

  <a href="#" class="trustedBy align-items-center justify-content-center list-group-item list-group-item-action">
    <div class="d-flex justify-content-center">
      <p class="navigationBar">Trusted by 30,000+ Businesses</p>
    </div>
  </a>

  <div class="cards d-flex align-items-flex-start">
    <div class="card-group">
      <div class="card">
        <h5 class="card-title">Card title</h5>
        <img src="..." class="card-img-top" alt="...">
        <div class="back_color1 card-body">
          <p class="card-text">Boost audience engagement through smart communication Platform. </p>
          <button class="btn btn-light">
            <a href="#" class="nav-link link-dark">
              Campaign
              <svg class="ms-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
            </a>
          </button>
        </div>
      </div>
      <div class="card">
        <h5 class="card-title">Card title</h5>
        <img src="..." class="card-img-top" alt="...">
        <div class="back_color2 card-body">
          <p class="card-text">Empower your employess, Support your customers. </p>
          <button class="btn btn-light">
            <a href="#" class="nav-link link-dark">
              Hello
              <svg class="ms-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
            </a>
          </button>
        </div>
      </div>
      <div class="card">
        <h5 class="card-title">Card title</h5>
        <img src="..." class="card-img-top" alt="...">
        <div class="back_color3 card-body">
          <p class="card-text">Segment your customers according to their action or event. </p>
          <button class="btn btn-light">
            <a href="#" class="nav-link link-dark">
              Segmento
              <svg class="ms-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
            </a>
          </button>
        </div>
      </div>
      <div class="card">
        <h5 class="card-title">Card title</h5>
        <img src="..." class="card-img-top" alt="...">
        <div class="back_color4 card-body">
          <p class="card-text">Quick and reliable authentication by 2FA using channels. </p>
          <button class="btn btn-light">
            <a href="#" class="nav-link link-dark">
              OTP
              <svg class="ms-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="comm_Upi d-flex container align-items-flex-start list-group-item list-group-item-action">
    <div>
      <h2 class="mt-5 fs-3">Communication channels</h2>
      <div class="d-flex"><span class="mt-2">Empower conversations with best-in-class communication API. Full-featured
          APIs for developers</span></div>
      <div class="d-flex"><span class="align-items-flex-start">& businesses to connect and engage their customers
          globally.</span></div>
    </div>
  </a>
  <div class="column d-flex align-items-flex-start mx-5">
    <div class="col-12 d-flex align-items-flex-start mx-5">
      <button class="sms btn btn-md me-5 mt-4">
        <img src="sms.svg" alt="#" class="img me-1">
        <span class="text">SMS</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right ms-5" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
      </button>

      <button class="email btn btn-md me-5 mt-4">
        <img src="email.svg" alt="#" class="img me-1">
        <span class="text">Email</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right ms-5" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
      </button>

      <button class="whatsapp btn btn-md me-5 mt-4">
        <img src="whatsapp.svg" alt="#" class="img me-1">
        <span class="text">WhatsApp</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right ms-5" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
      </button>

      <button class="telegram btn btn-md me-5 mt-4">
        <img src="Telegram.svg" alt="#" class="img me-1">
        <span class="text">Telegram</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right ms-5" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
      </button>

      <button class="voice btn btn-md me-5 mt-4">
        <img src="voice.svg" alt="#" class="img me-1">
        <span class="text">Voice</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right ms-5" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
      </button>

      <button class="rcs btn btn-md me-5 mt-4">
        <img src="rcs.svg" alt="#" class="img me-1">
        <span class="text">RCS</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right ms-5" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
      </button>
    </div>
  </div>

  <div class="cards d-flex align-items-flex-start ms-5 mt-5 mb-5">
    <div class="card-group ms-5 mt-2">
      <div class="card me-4">
        <h5 class="card-title1 ms-3">4.5 Million+</h5>
        <div class="card-body">
          <p class="card-text1">Annual interactions across 17+ channels worldwide.</p>
        </div>
      </div>
      <div class="card border-start me-4">
        <h5 class="card-title1 ms-3">52</h5>
        <div class="card-body">
          <p class="card-text1">Countries with virtual,localized numbers.</p>
        </div>
      </div>
      <div class="card border-start me-4">
        <h5 class="card-title1 ms-3">2.3 M+</h5>
        <div class="card-body">
          <p class="card-text1">Queries resoved using Hello, via 8+ channels worldwide</p>
        </div>
      </div>
      <div class="card border-start me-4">
        <h5 class="card-title1 ms-3">150</h5>
        <div class="card-body">
          <p class="card-text1">Direct telecom carrier connections globally.</p>
        </div>
      </div>
    </div>
  </div>