---
title: MSG91 - Our team, culture and happy clients.
description: Empowering developers with communication APIs. Building modern communication tools and supporting ideas for startups and enterprises globally.
country: '/in'
---


<link rel="stylesheet" id="elementor-frontend-css" href="/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.5.5" type="text/css" media="all">
<link rel="stylesheet" id="elementor-post-6-css" href="/wp-content/uploads/sites/4/elementor/css/post-6.css?ver=1645283882" type="text/css" media="all">
<link rel="stylesheet" id="elementor-post-650-css" href="/wp-content/uploads/sites/4/elementor/css/post-650.css?ver=1662206899" type="text/css" media="all">





<style type="text/css" id="wp-custom-css">.testimonials .team-card .card-text {
    color: #b3b3b3;
}
.privacy-option-text a {
	color: #222222;
}
.infrastructure-box .elementor-widget-container,
.infrastructure-box {
    height: 100%;
}
a.extrovert-faq {
    display: inline !important;
    text-decoration: underline;
}
span.extrovert-list {
    margin-left: 12px;
}
.b2b-text {
    min-height: 105px;
}
.b2b-card-header {
    min-height: 115px;
    background: #efefef;
    display: flex;
    align-items: center;
}
.wrapper-404 {
	padding: 80px 0;
}
.wrapper-404 h2 {
    font-size: 48px;
    font-weight: 500;
    color: #222222;
    margin: 55px 0 18px 0;
}
.wrapper-404 p {
    font-size: 18px;
    color: #8f8f8f;
}
.wrapper-404 p.use-links {
    font-size: 24px;
    color: #222;
}
.wrapper-404 p.use-links a {
    color: #1592E6;
    border-bottom: 1px solid #1592E6;
    margin: 0 5px;
}
.addons-card-header {
    background: #f9f9f9 !important;
    min-height: 110px;
		max-height: 110px;
    border: none !important;
		display:flex;
		align-items:center;
	overflow: hidden;
}
.addons-card-header.elementor-widget-image img{
	height: 80px;
	width: inherit;
	max-width: inherit;
}
.addons-card-header .elementor-widget-container {
	border:none !important;
}
.addons-card-text {
    min-height: 230px;
}
.addon-great-box a {
    color: #4f5258;
}
.setp-box {
    padding: 10px 0 1px 16px;
    background: #f5f7f9;
}
.setp-box h2 {
    text-transform: uppercase;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    border-bottom: 1px solid;
    display: inline-block;
    padding: 0 32px 2px 0;
}
.setp-box p {
    font-size: 12px;
}
.setp-box.bg-dark {
	border-left: 20px solid #222;
}
.setp-box.bg-dark h2 {
	border-color: #222;
}
.setp-box.bg-yellow {
    border-left: 20px solid #bf941f;
}
.setp-box.bg-yellow h2 {
	border-color: #bf941f;
}
.setp-box.bg-green {
    border-left: 20px solid #537C7C;
}
.setp-box.bg-green h2 {
	border-color: #537C7C;
}
.spreadsheet-banner .elementor-heading-title span{
	background: url(https://msg91.com/wp-content/uploads/2020/07/spreadsheet-1.png) no-repeat;
	height: 100%;
	background-size: 100%;
}

@media (min-width: 992px) and (max-width: 1199px)  {
		.flow-is-heading .elementor-widget-container {
    background-position: 12% 0px !important;
}
	.trusted-text .elementor-widget-container {
    background-position: 151px 10px !important;
}
}
@media (max-width: 1199px) {
	.fa2-heading .elementor-widget-container {
    background-position: 86% 3px;
}
.hello-stand-heading .elementor-widget-container {
    background-position: 50% 9px;
}
	.flow-is-heading .elementor-widget-container {
    background-position: 12% 0px;
}
	.trusted-text .elementor-widget-container {
    background-position: 143px 9px;
}
}
@media(max-width: 1169px){
.send-2fa-heading .elementor-widget-container {
    background-position: 86% 3px !important;
}
  .start-banner-head .elementor-widget-container {
    background-position: 63% 8px !important;
}
.startup-today-head br{
  display: none;
}
.startup-grow-heading .elementor-widget-container {    
    background-position: -4px -1px !important;
}
.pro-vice-banner-h .elementor-widget-container {
    background-position: 0 51% !important;
}
.voice-direct-h .elementor-widget-container {
    background-position: 79% 1px;    
}
.voice-heading .elementor-widget-container {
    background-position: 678px 4px !important;
    background-size: 175px !important;
}
.it-partners .elementor-widget-container {   
    background-position: 429px 18px !important;
}
.trans-email-heading .elementor-widget-container {
    background-position: 0 120px !important;
}
.trans-intergration .elementor-heading-title{
  font-size: 35px !important;
}
.trans-intergration .elementor-widget-container {
    background-position: 38% 0px !important;
    background-size: 183px !important;
}
.trans-optimize-head .elementor-heading-title {
    font-size: 28px !important;
}
}
@media(max-width: 991px){
	.start-banner-head .elementor-widget-container {
    background-position: 100% 8px !important;
}
.voice-bild-box .elementor-column-wrap  {
  height: 100%;
}
	.it-partners .elementor-widget-container {
    background-position: 290px 4px !important;
}
.trans-email-heading .elementor-widget-container {
    background-position: 0 102px !important;
}
.trans-intergration .elementor-widget-container {
    background-position: 0 35px !important;
    background-size: 203px !important;
}
.direct-man-wrapper h3.elementor-heading-title {
    line-height: 39px;
    padding: 40px 0 50px 0;
}
}
@media (max-width:767px){
	.down-icon img {
    transform: rotate(90deg);
}
}
@media(max-width: 450px) {
	.do-more-heading .elementor-widget-container {
    background-position: 10% 0px !important;
}
	.flow-is-heading .elementor-widget-container {
    background-position: 2% 0px;
}
	.home-invisible-heading .elementor-heading-title  {
		font-size:26px !important;
	}
	.start-banner-head .elementor-widget-container {
    background-position: 208px 2px !important;
    background-size: 150px auto !important;
}
	.voice-direct-h .elementor-widget-container {
    background-position: 100% 0 !important;
    background-size: 35% auto !important;
}
	.api-build-heading .elementor-widget-container {
    background-position: 25px 3px !important;
    background-size: 87px auto !important;
}
	.it-partners .elementor-widget-container {
    background-position: 130PX 4px !important;
}
.wrapper-404 p.use-links {
    font-size: 16px;
}
.trans-intergration .elementor-widget-container {
    background-position: 160px 0 !important;
    background-size: 203px !important;
}
.direct-man-wrapper h3.elementor-heading-title {
    font-size: 24px;
}
}
@media(max-width: 375px){
	.wrapper-404 h2 {
    font-size: 38px;
}
.trans-email-heading .elementor-widget-container {
    background-position: -20px 75px !important;
}
}
@media(max-width: 320px){
.wrapper-404 p.use-links {
    font-size: 13px;
}
.trans-intergration .elementor-heading-title {
    font-size: 28px !important;
}
.trans-intergration .elementor-widget-container {
    background-position: 89px -2px !important;
    background-size: 203px !important;
}
}</style>
		


</head>
<body class="page-template-default page page-id-650 wp-custom-logo mega-menu-primary-menu mega-menu-direct-signup-menu about-us elementor-default elementor-kit-6 elementor-page elementor-page-650">


<style>.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns="http: //www.w3.org/2000/svg" fill="%23fff" width="8" height="8" viewBox="0 0 8 8"%3e%3cpath d="M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z"/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns="http: //www.w3.org/2000/svg" fill="%23fff" width="8" height="8" viewBox="0 0 8 8"%3e%3cpath d="M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z"/%3e%3c/svg%3e");
}
.country-top {
  background: #393939;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 9991;
  top:0;
}
.country-top p {
  font-size: 14px;
  color: #F7F8F8;
  margin: 7px 0 0 0;
}
.country-top select {
  width: 325px;
  background: #7c7c7c;
  color: #fff;
  border-radius: 0;
  background-image: url(https://msg91.com/wp-content/uploads/sites/4/2020/09/country_arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 12px;
  appearance: none;
  -webkit-appearance: none !important;
  padding: 6px 0 4px 30px;
  position: relative;
}
.country-check {
  position: relative;
  right: -20px;
  z-index: 1;
}
.top-country-box button {
  background-color: #1E75BA;
  padding: 6px 15px 7px 16px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 2px;
  margin-left: 16px;
  color: #fff;
  border: none;
}
.top-country-box button:hover {
  background-color: #7c7c7c;
}
.country-body {
  background-color: #454444 !important;
  padding: 30px 0 31px 0;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}
.country-body p {
    margin: 0 0 12px 30px;
    color: #fff;
    font-size: 18px;
    text-align:left;
}
.country-box{
    display: flex;
    padding: 0 30px 0 20px;
    position:relative;
}    
.country-box button:hover {
  background-color: #000;
}
.country-body .close {
  color: #fff;        
  opacity: 1;
  position: absolute;
  top: -20px;
  right: 15px;
  cursor: pointer;
}</style>

<!-- end -->

<div class="main-body">

		<div data-elementor-type="wp-page" data-elementor-id="650" class="elementor elementor-650" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-5c454796 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5c454796" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4f086111" data-id="4f086111" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6f7ee893 elementor-widget elementor-widget-image" data-id="6f7ee893" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img src="/wp-content/uploads/sites/4/2020/07/about-banner-img-1.svg" class="attachment-full size-full" alt="" loading="lazy">														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-23b88845" data-id="23b88845" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-293823c9 elementor-widget elementor-widget-uael-fancy-heading" data-id="293823c9" data-element_type="widget" data-widget_type="uael-fancy-heading.default">
				<div class="elementor-widget-container">
					<div class="uael-module-content uael-fancy-text-node " data-type-speed="60" data-animation="type" data-back-speed="60" data-start-delay="0" data-back-delay="600" data-loop="true" data-show-cursor="false" data-cursor-char="" data-strings="[&quot;Hello&quot;,&quot;नमस्ते&quot;,&quot;Bonjour&quot;,&quot;Hola!&quot;]">
			 
								<h1 class="uael-fancy-text-wrap uael-fancy-text-type">
											<span class="uael-fancy-stack">
											<span class="uael-fancy-heading uael-fancy-text-main uael-typed-main-wrap "><span class="uael-typed-main"></span><span class="uael-text-holder">.</span></span>
												</span>
									</h1>					</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-3921c633 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3921c633" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5021aaf5" data-id="5021aaf5" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-62e9f3fa elementor-widget elementor-widget-heading" data-id="62e9f3fa" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">We empower developers with communication APIs<br>
in addition to building tools &amp; supporting ideas that run majorly on communication.</h2>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-3b4637fc elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3b4637fc" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-47315a56" data-id="47315a56" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-68495e72 elementor-position-left elementor-vertical-align-middle about-culture-box elementor-widget elementor-widget-image-box" data-id="68495e72" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper">
<figure class="elementor-image-box-img"><img src="/wp-content/uploads/sites/4/2020/07/culture-1.svg" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Every brand offers its own culture, and this is what we offer you...</h3></div>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-71242525 belive-box  about-belive-box elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="71242525" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2e31c65" data-id="2e31c65" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-61d242df elementor-widget elementor-widget-heading" data-id="61d242df" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">We believe in</h2>		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-4c679ff7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4c679ff7" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4b7d9594" data-id="4b7d9594" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-5018df40 believe-mini-box elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="5018df40" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper">
<figure class="elementor-image-box-img"><img src="/wp-content/uploads/sites/4/2020/07/customerthinking-1.svg" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content">
<h3 class="elementor-image-box-title">Thinking like a Customer</h3>
<p class="elementor-image-box-description">We try to get into your shoes to understand your communication issues and then, solve it with our problem-solving vision.</p>
</div>
</div>		</div>
				</div>
				<div class="elementor-element elementor-element-59a5a4fe believe-mini-box elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="59a5a4fe" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper">
<figure class="elementor-image-box-img"><img src="/wp-content/uploads/sites/4/2020/07/clap-1.svg" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content">
<h3 class="elementor-image-box-title">Uplifting each Other</h3>
<p class="elementor-image-box-description">Liberal thoughts, ideas, solutions, innovation anywhere, everywhere! <br> Our focus is not ME, it is WE.</p>
</div>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-76bee12c" data-id="76bee12c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-22fdf8d8 elementor-hidden-phone elementor-widget elementor-widget-spacer" data-id="22fdf8d8" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-10a77f43 believe-mini-box elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="10a77f43" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper">
<figure class="elementor-image-box-img"><img src="/wp-content/uploads/sites/4/2020/07/innovation-1.svg" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content">
<h3 class="elementor-image-box-title">Our magic Wand is our Innovations</h3>
<p class="elementor-image-box-description">There is no set rule book to follow, we experiment, we fail, we learn and come up stronger. We figure it out, eventually, everyone does; all we do is write it down and start sailling.</p>
</div>
</div>		</div>
				</div>
				<div class="elementor-element elementor-element-6009d362 believe-mini-box elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="6009d362" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper">
<figure class="elementor-image-box-img"><img width="59" height="56" src="/wp-content/uploads/sites/4/2020/07/Group-17172-1.png" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content">
<h3 class="elementor-image-box-title">Sustainability</h3>
<p class="elementor-image-box-description">Our quest for sustainability has to transform the way we think about products, technologies, processes and business models.</p>
</div>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-54c55ab4 leadership-box elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="54c55ab4" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e77f100" data-id="e77f100" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-56d0222 elementor-widget elementor-widget-heading" data-id="56d0222" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Our leadership team</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-67a129bc elementor-widget elementor-widget-heading" data-id="67a129bc" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">The abilities combined with the dedication of our team<br> has resulted in making us the most loved &amp; innovative cloud communication platform.</h2>		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-2a5d0738 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2a5d0738" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-1183280f team-leadership-card" data-id="1183280f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6fbb8245 elementor-widget elementor-widget-shortcode" data-id="6fbb8245" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
			<div class="team-card">
<img src="/wp-content/uploads/sites/4/2020/07/pushpendra_agrawal.jpg" class="card-img-top" alt=""><div class="card-body">
<h5 class="card-title">Pushpendra Agrawal</h5>
<p><small class="text-muted"> Founder &amp; Advisor</small></p> <p class="card-text">Pushpendra is a serial entrepreneur.</p>
</div>
</div>
<div class="team-card">
<img src="/wp-content/uploads/sites/4/2020/07/shubhendra_agrawal.png" class="card-img-top" alt=""><div class="card-body">
<h5 class="card-title">Shubhendra Agrawal</h5>
<p><small class="text-muted">Founder &amp; CEO</small></p> <p class="card-text">Shubhendra is an absolute Finance man.</p>
</div>
</div>
<div class="team-card">
<img src="/wp-content/uploads/sites/4/2020/07/ravi_dangi.png" class="card-img-top" alt=""><div class="card-body">
<h5 class="card-title">Ravi Dangi</h5>
<p><small class="text-muted">Sales</small></p> <p class="card-text">Mistakenly believed Engineer, he’s actually a sales buff.</p>
</div>
</div>
<div class="team-card">
<img src="/wp-content/uploads/sites/4/2020/07/vipin_sharma.png" class="card-img-top" alt=""><div class="card-body">
<h5 class="card-title">Vipin Sharma</h5>
<p><small class="text-muted">Technology</small></p> <p class="card-text">Mostly found in the gym or at the TT table.</p>
</div>
</div>
<div class="team-card">
<img src="/wp-content/uploads/sites/4/2020/07/alisha_chouhan.png" class="card-img-top" alt=""><div class="card-body">
<h5 class="card-title">Alisha Chouhan</h5>
<p><small class="text-muted">Global Business</small></p> <p class="card-text">Works hard, has fun, makes a difference.</p>
</div>
</div>
<div class="team-card">
<img src="/wp-content/uploads/sites/4/2020/07/chinmay_daga.png" class="card-img-top" alt=""><div class="card-body">
<h5 class="card-title">Chinmay Daga</h5>
<p><small class="text-muted">Operations</small></p> <p class="card-text">The Processes &amp; Partnerships pro.</p>
</div>
</div>		<div class="elementor-shortcode"></div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-407e0b1e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="407e0b1e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7c1b874" data-id="7c1b874" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6943c93f elementor-widget elementor-widget-text-editor" data-id="6943c93f" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Striving to fulfil our vision by hiring passionate people who are willing to push their benchmark, and of the industry, as well.<br>Want to join our vision?<strong> We’re</strong> <strong><a href="https://apply.workable.com/walkover/" target="_blank" rel="nofollow noopener">Hiring!</a></strong></p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-8a84b3d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8a84b3d" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-76925362" data-id="76925362" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-df32a7b elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="df32a7b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4060b0e6" data-id="4060b0e6" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-4b87b28f elementor-widget elementor-widget-heading" data-id="4b87b28f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Our Team is Our Strength</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-2ece965a elementor-widget elementor-widget-text-editor" data-id="2ece965a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				The team of Superheroes makes us stand out. There are no supernatural powers, just the will and dedication to serve you helps us in delivering eminence.					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-e01685d elementor-widget elementor-widget-text-editor" data-id="e01685d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				 For any query and suggestion reach out to our Superheroes.					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-a7a808a elementor-widget elementor-widget-html" data-id="a7a808a" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<div class="customer-btn-box">
  <a class="get-stared-bt" href="/contact-us">Contact us</a>
  <p>or</p>
  <a class="expert-bt" href="/contact-us">Talk to an expert</a>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7b92663" data-id="7b92663" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-43b3b4f6 elementor-widget elementor-widget-image" data-id="43b3b4f6" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img src="/wp-content/uploads/sites/4/2020/07/team-Strength-1.svg" class="attachment-full size-full" alt="" loading="lazy">														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1ed35f90 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1ed35f90" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-53d3409a" data-id="53d3409a" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3c11948c elementor-widget elementor-widget-heading" data-id="3c11948c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">MSG91 today is</h2>		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-15141793 msg-today-box elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="15141793" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7bd0c914" data-id="7bd0c914" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-20107c40 msg91-today-1 elementor-widget elementor-widget-uael-advanced-heading" data-id="20107c40" data-element_type="widget" data-widget_type="uael-advanced-heading.default">
				<div class="elementor-widget-container">
			
		<div class="uael-module-content uael-heading-wrapper">
			
			
			<h4 class="uael-heading">
										<span class="uael-heading-text elementor-inline-editing uael-size--default" data-elementor-setting-key="heading_title" data-elementor-inline-editing-toolbar="basic">#1</span>
							</h4>

			
			
							<div class="uael-subheading elementor-inline-editing" data-elementor-setting-key="heading_description" data-elementor-inline-editing-toolbar="advanced">
					A2P communication provider in India, serving clients worldwide.				</div>
				
						</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-34f62ac3" data-id="34f62ac3" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-1f8c58e2 msg91-today-2 elementor-widget elementor-widget-uael-advanced-heading" data-id="1f8c58e2" data-element_type="widget" data-widget_type="uael-advanced-heading.default">
				<div class="elementor-widget-container">
			
		<div class="uael-module-content uael-heading-wrapper">
			
			
			<h4 class="uael-heading">
										<span class="uael-heading-text elementor-inline-editing uael-size--default" data-elementor-setting-key="heading_title" data-elementor-inline-editing-toolbar="basic">1 Billion+</span>
							</h4>

			
			
							<div class="uael-subheading elementor-inline-editing" data-elementor-setting-key="heading_description" data-elementor-inline-editing-toolbar="advanced">
					OTPs, Transactional &amp; Promotional SMS delivered per month without fail.				</div>
				
						</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-569e17ef" data-id="569e17ef" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-711d5387 msg91-today-3 elementor-widget elementor-widget-uael-advanced-heading" data-id="711d5387" data-element_type="widget" data-widget_type="uael-advanced-heading.default">
				<div class="elementor-widget-container">
			
		<div class="uael-module-content uael-heading-wrapper">
			
			
			<h4 class="uael-heading">
										<span class="uael-heading-text elementor-inline-editing uael-size--default" data-elementor-setting-key="heading_title" data-elementor-inline-editing-toolbar="basic">15k</span>
							</h4>

			
			
							<div class="uael-subheading elementor-inline-editing" data-elementor-setting-key="heading_description" data-elementor-inline-editing-toolbar="advanced">
					Active users globally.				</div>
				
						</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-77b681e5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="77b681e5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2d07089a" data-id="2d07089a" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2ed887de client-say-heading elementor-widget elementor-widget-heading" data-id="2ed887de" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">We are<br> who our Clients say we are!</h2>		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-762d0c48 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="762d0c48" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-40559f1d" data-id="40559f1d" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-637bc605 testimonials elementor-widget elementor-widget-shortcode" data-id="637bc605" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
			<div class="team-card"> <p class="card-text">MSG91 has been an extremely reliable communication service for us. Their OTP infra has been instrumental in reducing customer drop-outs. Great support too!</p>
<div class="client-data">
<img src="/wp-content/uploads/sites/4/2020/06/Mask-Group-92@2x.png" class="card-img-top" alt=""><div class="client-detail">
<h5 class="card-title">Manan Bajoria</h5>
<small class="text-muted">Ixigo</small>
</div>
</div>
</div>
<div class="team-card"> <p class="card-text">You guys have been instrumental in getting our customer connect via SMS trustworthy. Appreciate your technical support services as well. Quite responsive!</p>
<div class="client-data">
<img src="/wp-content/uploads/sites/4/2020/06/Group-17390@2x.png" class="card-img-top" alt=""><div class="client-detail">
<h5 class="card-title">Sushant Khairnar</h5>
<small class="text-muted">Policybazaar (former)</small>
</div>
</div>
</div>
<div class="team-card"> <p class="card-text">MSG91 has helped us in delivering great customer experience through consistent communication!</p>
<div class="client-data">
<img src="/wp-content/uploads/sites/4/2020/06/Mask-Group-94@2x.png" class="card-img-top" alt=""><div class="client-detail">
<h5 class="card-title">Aditya Sriganesh</h5>
<small class="text-muted">IndiaLends</small>
</div>
</div>
</div>		<div class="elementor-shortcode"></div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-79998d62 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="79998d62" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-735d070d" data-id="735d070d" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-4d9bd7d6 elementor-position-right elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="4d9bd7d6" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper">
<figure class="elementor-image-box-img"><img width="162" height="149" src="/wp-content/uploads/sites/4/2020/07/Group-17442-1.png" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content">
<h3 class="elementor-image-box-title">Creating a supportive community</h3>
<p class="elementor-image-box-description">We believe in empowering and love to get our hands dirty where we can to improve lives and help in making it better. <br><br>That’s why our social policy provides a push to startups by providing them with communication benefits, support NGO and their amazing work, push budding Developers to think beyond as we’ve the platform built for them and help Organizations like yours to expand their impact using communications technologies.</p>
</div>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-241f6cff elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="241f6cff" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-20016483" data-id="20016483" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-f39015f elementor-widget elementor-widget-heading" data-id="f39015f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Our remote presence all over the world keeps us connected</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-66fa73b1 elementor-widget elementor-widget-text-editor" data-id="66fa73b1" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				We act faster and interact with our customers every day, providing needful solutions, fulfilling local requirements, based on proven best-practices. 					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-8978fff elementor-widget elementor-widget-text-editor" data-id="8978fff" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				#remoteworkingteam					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3fa08743" data-id="3fa08743" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-346f6425 elementor-widget elementor-widget-image" data-id="346f6425" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="260" height="269" src="/wp-content/uploads/sites/4/2020/07/map_image-1.png" class="attachment-full size-full" alt="" loading="lazy">														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<div class="footer-top-bg text-center"> </div> 

<!--|---------------------------Choose-Country-Modal-----------------------------|--> 
<div style="display: none;" class="modal fade" id="loginModalCustom" role="dialog" aria-labelledby="loginModalCustomTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content country-body rounded-0 border-0">
            <div class="modal-body text-center">
                <p class="text-left">Choose your country or region</p>
                <div class="country-box">
                    <img class="country-check" src="https://msg91.com/wp-content/uploads/2020/09/country_check.svg" alt="country check">
                    <select name="selectedCountry" id="selectedCountry">
                        <option value="india" selected>India</option>
<option value="other">Other country 
or region</option>                    </select>
                    <button type="button" class="" onclick="changeCountry()">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div> 

<!--|---------------------------End--------------------|--> 

<!-- WP Cookie Notice for GDPR, CCPA & ePrivacy Consent v2.0.7 by WPEka Club - https://wordpress.org/plugins/gdpr-cookie-consent/ -->
<div id="gdpr-cookie-consent-bar" class="gdpr gdpr-banner gdpr-default banner-default layout-default theme-muteweb">
        <div class="gdpr_messagebar_content">
                    <h3 class="gdpr_messagebar_head">Cookies...</h3>
                <div class="group-description" tabindex="0">
<p class="gdpr">MSG91.com uses cookies to improve your experience. We’ll assume you’re ok with this, but you can opt-out if you wish.
                                    <a id="cookie_action_link" href="/cookie-policy/" class="gdpr_link_button" target="_blank">Read More</a>
                            </p>
                    </div>
        <div class="gdpr group-description-buttons">
                            <a id="cookie_action_accept" class="gdpr_action_button btn" tabindex="0" aria-label="Accept" href="#" data-gdpr_action="accept">Yay!</a>
                                        <a id="cookie_action_reject" class="gdpr_action_button btn" tabindex="0" aria-label="Reject" href="#" data-gdpr_action="reject">Decline</a>
                                        <a id="cookie_action_settings" class="gdpr_action_button " tabindex="0" aria-label="Cookie Settings" href="#" data-gdpr_action="show_settings">⚙ Cookie Settings</a>
                    </div>
    </div>
                        <div class="gdpr_messagebar_detail" style="display:none;max-width:800px;">
                <div>I consent to the use of following cookies:</div>
<div id="gdpr_messagebar_body_buttons_select_pane">
            <div class="gdpr_messagebar_body_buttons_wrapper">
                            <input type="checkbox" id="gdpr_messagebar_body_button_necessary" class="gdpr_messagebar_body_button gdpr_messagebar_body_button_disabled" disabled checked value="necessary">
                        <label for="gdpr_messagebar_body_button_necessary">Necessary</label>
        </div>
            <div class="gdpr_messagebar_body_buttons_wrapper">
                            <input type="checkbox" id="gdpr_messagebar_body_button_marketing" class="gdpr_messagebar_body_button" tabindex="0" value="marketing">
                        <label for="gdpr_messagebar_body_button_marketing">Marketing</label>
        </div>
            <div class="gdpr_messagebar_body_buttons_wrapper">
                            <input type="checkbox" id="gdpr_messagebar_body_button_analytics" class="gdpr_messagebar_body_button" tabindex="0" value="analytics">
                        <label for="gdpr_messagebar_body_button_analytics">Analytics</label>
        </div>
            <div class="gdpr_messagebar_body_buttons_wrapper">
                            <input type="checkbox" id="gdpr_messagebar_body_button_preferences" class="gdpr_messagebar_body_button" tabindex="0" value="preferences">
                        <label for="gdpr_messagebar_body_button_preferences">Preferences</label>
        </div>
            <div class="gdpr_messagebar_body_buttons_wrapper">
                            <input type="checkbox" id="gdpr_messagebar_body_button_unclassified" class="gdpr_messagebar_body_button" tabindex="0" value="unclassified">
                        <label for="gdpr_messagebar_body_button_unclassified">Unclassified</label>
        </div>
    </div>
<div id="gdpr_messagebar_detail_body">
    <div id="gdpr_messagebar_detail_body_content_tabs">
        <a id="gdpr_messagebar_detail_body_content_tabs_overview" class="gdpr_messagebar_detail_body_content_tab gdpr_messagebar_detail_body_content_tab_item_selected" tabindex="0" href="#">Cookie Declaration</a>
        <a id="gdpr_messagebar_detail_body_content_tabs_about" class="gdpr_messagebar_detail_body_content_tab" tabindex="0" href="#">About Cookies</a>
    </div>
    <div id="gdpr_messagebar_detail_body_content">
        <div id="gdpr_messagebar_detail_body_content_overview" style="display:block;">
            <div id="gdpr_messagebar_detail_body_content_overview_cookie_container">
                <div id="gdpr_messagebar_detail_body_content_overview_cookie_container_types">
                                            <a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_necessary" id="gdpr_messagebar_detail_body_content_overview_cookie_container_necessary" class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                    gdpr_messagebar_detail_body_content_overview_cookie_container_type_selected
                                                " tabindex="0" href="#">Necessary (0)</a>
                                            <a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_marketing" id="gdpr_messagebar_detail_body_content_overview_cookie_container_marketing" class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                " tabindex="0" href="#">Marketing (0)</a>
                                            <a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_analytics" id="gdpr_messagebar_detail_body_content_overview_cookie_container_analytics" class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                " tabindex="0" href="#">Analytics (0)</a>
                                            <a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_preferences" id="gdpr_messagebar_detail_body_content_overview_cookie_container_preferences" class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                " tabindex="0" href="#">Preferences (0)</a>
                                            <a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_unclassified" id="gdpr_messagebar_detail_body_content_overview_cookie_container_unclassified" class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
                                                " tabindex="0" href="#">Unclassified (0)</a>
                                    </div>
                <div id="gdpr_messagebar_detail_body_content_overview_cookie_container_type_details">
                                            <div id="gdpr_messagebar_detail_body_content_cookie_tabs_necessary" tabindex="0" style="display:block;" class="gdpr_messagebar_detail_body_content_cookie_type_details">
                            <div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
                                Necessary cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.
                            </div>
                                                        <div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
                                                                    We do not use cookies of this type.
                                                            </div>
                                                    </div>
                                            <div id="gdpr_messagebar_detail_body_content_cookie_tabs_marketing" tabindex="0" style="display:none;" class="gdpr_messagebar_detail_body_content_cookie_type_details">
                            <div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
                                Marketing cookies are used to track visitors across websites. The intention is to display ads that are relevant and engaging for the individual user and thereby more valuable for publishers and third party advertisers.
                            </div>
                                                        <div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
                                                                    We do not use cookies of this type.
                                                            </div>
                                                    </div>
                                            <div id="gdpr_messagebar_detail_body_content_cookie_tabs_analytics" tabindex="0" style="display:none;" class="gdpr_messagebar_detail_body_content_cookie_type_details">
                            <div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
                                Analytics cookies help website owners to understand how visitors interact with websites by collecting and reporting information anonymously.
                            </div>
                                                        <div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
                                                                    We do not use cookies of this type.
                                                            </div>
                                                    </div>
                                            <div id="gdpr_messagebar_detail_body_content_cookie_tabs_preferences" tabindex="0" style="display:none;" class="gdpr_messagebar_detail_body_content_cookie_type_details">
                            <div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
                                Preference cookies enable a website to remember information that changes the way the website behaves or looks, like your preferred language or the region that you are in.
                            </div>
                                                        <div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
                                                                    We do not use cookies of this type.
                                                            </div>
                                                    </div>
                                            <div id="gdpr_messagebar_detail_body_content_cookie_tabs_unclassified" tabindex="0" style="display:none;" class="gdpr_messagebar_detail_body_content_cookie_type_details">
                            <div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
                                Unclassified cookies are cookies that we are in the process of classifying, together with the providers of individual cookies.
                            </div>
                                                        <div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
                                                                    We do not use cookies of this type.
                                                            </div>
                                                    </div>
                                    </div>
            </div>
        </div>
        <div id="gdpr_messagebar_detail_body_content_about" style="display:none;">
            Cookies are small text files that can be used by websites to make a user's experience more efficient. The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission. This site uses different types of cookies. Some cookies are placed by third party services that appear on our pages.
        </div>
    </div>
</div>
            </div>
            </div>
            
        
                <div id="gdpr-cookie-consent-show-again" class="gdpr gdpr-banner gdpr-default banner-default layout-default">
            <span>Cookie Settings</span>
        </div>
    			<style>.gdpr_messagebar_detail .category-group .category-item .description-container .group-toggle .checkbox input:checked + label:after,
				.gdpr_messagebar_detail.layout-classic .category-group .toggle-group .checkbox input:checked + label:after {
					background: #f3f3f3 !important;
				}
				.gdpr_messagebar_detail .gdprmodal-dialog .gdprmodal-header .close, #gdpr-ccpa-gdprmodal .gdprmodal-dialog .gdprmodal-body .close {
					color: #f3f3f3 !important;
				}</style>
			<link rel="stylesheet" id="gdpr-cookie-consent-css" href="/wp-content/plugins/gdpr-cookie-consent/public/css/gdpr-cookie-consent-public.min.css?ver=2.0.7" type="text/css" media="all">
<link rel="stylesheet" id="e-animations-css" href="/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.5.5" type="text/css" media="all">























 <!-- 
 -->
<!-- Google Code for Remarketing tag -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->








  <!-- to change the country --> 



<!--  Code for Phone Number Fields Accepts only numbers -->



<!-- Code To Change the Tabs into the Dropdown in Mobile View --> 

<!-- Jquery Scroll to div  ----->



  
 


</div>
</body>