<footer class="footer-main">
  <div class="footer-first">
    <div class="footer-top footer-container container">
      <div class="row">
        <div id="media_image-21" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="94" height="27"
            src="/wp-content/uploads/sites/4/2022/08/patanjali-svg.svg"
            class="image wp-image-7465  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-18" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="104" height="24"
            src="/wp-content/uploads/sites/4/2022/08/xiaomi.svg" class="image wp-image-7469  attachment-full size-full"
            alt="" loading="lazy" style="max-width: 100%; height: auto;"></div>
        <div id="media_image-19" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="58" height="30"
            src="/wp-content/uploads/sites/4/2022/08/ntpc.svg" class="image wp-image-7467  attachment-full size-full"
            alt="" loading="lazy" style="max-width: 100%; height: auto;"></div>
        <div id="media_image-17" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="114" height="24"
            src="/wp-content/uploads/sites/4/2022/08/rozorpay.svg"
            class="image wp-image-7466  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-20" class="widget widget_media_image col-md-20 col-sm-4 col-6"><img width="161" height="24"
            src="/wp-content/uploads/sites/4/2022/08/unacademy.svg"
            class="image wp-image-7468  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
      </div>
    </div>
    <div class="footer-middle container">
      <div class="row">

        <div class="col-md-3 col-12">
          <div class="row">
            <div class="col-12 
                               footer-middle-firt">
              <div id="custom_html-4" class="widget_text widget widget_custom_html">
                <h5 class="widget-title">Download apps</h5>
                <div class="textwidget custom-html-widget">
                  <a class="mr-2 mb-2 footer-img-link"
                    href="https://play.google.com/store/apps/details?id=com.msg91.android" target="_blank"
                    rel="nofollow noopener"><img class="mb-2" alt="Play App Store"
                      src="https://msg91.com/wp-content/uploads/2022/08/android.svg">
                  </a>
                  <a class="mr-2 mb-2 footer-img-link" href="https://itunes.apple.com/us/app/msg91/id981827687"
                    target="_blank" rel="nofollow noopener">
                    <img class="mb-2" alt="Apple App Store"
                      src="https://msg91.com/wp-content/uploads/2022/08/apple.svg">
                  </a>
                </div>
              </div>
              <div id="custom_html-5" class="widget_text widget widget_custom_html">
                <h5 class="widget-title">Follow us</h5>
                <div class="textwidget custom-html-widget">
                  <a class="mr-2 mb-2 footer-img-link" href="https://www.linkedin.com/company/msg91/"
                    rel="nofollow noopener" target="_blank"><img alt="Linkedin"
                      src="https://msg91.com/wp-content/uploads/2022/08/linkedin.svg">
                  </a>
                  <a class="mr-2 mb-2 footer-img-link" href="https://www.facebook.com/msg91" rel="nofollow noopener"
                    target="_blank">
                    <img alt="facebook" src="https://msg91.com/wp-content/uploads/2022/08/facebook.svg">
                  </a>
                  <a class="mr-2 mb-2 footer-img-link" href="https://twitter.com/msg91com" rel="nofollow noopener"
                    target="_blank">
                    <img alt="twitter" src="https://msg91.com/wp-content/uploads/2022/08/twitter.svg">
                  </a>
                  <a class="mr-2 mb-2 footer-img-link" href="https://www.youtube.com/channel/UClx5hDZ79AnA1kVpHdkVH_A"
                    rel="nofollow noopener" target="_blank">
                    <img alt="youtube" src="https://msg91.com/wp-content/uploads/2022/08/youtube.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-12">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 
                               col-xl-3 fotr-links">
              <div id="nav_menu-3" class="widget widget_nav_menu">
                <h5 class="widget-title">Our Products</h5>
                <div class="menu-footer-one-container">
                  <ul id="menu-footer-one" class="menu">
                    <li id="menu-item-2215"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2215"><a
                        href="/one-api/">One API</a></li>
                    <li id="menu-item-2376"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2376"><a
                        href="/send-otp/">SendOTP</a></li>
                    <li id="menu-item-1217"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1217"><a
                        href="/hello/">Hello</a></li>
                    <li id="menu-item-1216"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1216"><a
                        href="/segmento/">Segmento</a></li>
                    <li id="menu-item-4333"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4333"><a
                        href="/regional-sms/">Regional SMS</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 
                               col-xl-3 fotr-links">
              <div id="nav_menu-4" class="widget widget_nav_menu">
                <h5 class="widget-title">Channels</h5>
                <div class="menu-footer-two-container">
                  <ul id="menu-footer-two" class="menu">
                    <li id="menu-item-2208"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2208"><a
                        href="/transactional-sms/">SMS</a></li>
                    <li id="menu-item-3569"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3569"><a
                        href="/transactional-email/">Email</a></li>
                    <li id="menu-item-4775"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4775"><a
                        href="/whatsapp/">WhatsApp</a></li>
                    <li id="menu-item-3567"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3567"><a
                        href="/voice-call-api/">Voice</a></li>
                    <li id="menu-item-3617"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3617"><a
                        href="/virtual-number/">Virtual Number</a></li>
                    <li id="menu-item-3983"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3983"><a
                        href="/rich-communication-services/">Rich communication services-RCS</a></li>
                    <li id="menu-item-4411"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4411"><a
                        href="/internet-messaging/">Internet messaging</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 
                               col-xl-3 fotr-links">
              <div id="nav_menu-5" class="widget widget_nav_menu">
                <h5 class="widget-title">Resources</h5>
                <div class="menu-resources-container">
                  <ul id="menu-resources" class="menu">
                    <li id="menu-item-112"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-112"><a target="_blank"
                        rel="noopener" href="https://msg91.com/guide/">Guide</a></li>
                    <li id="menu-item-4277"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4277"><a
                        href="/case-studies/">Case Studies</a></li>
                    <li id="menu-item-115"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-115"><a target="_blank"
                        rel="noopener" href="https://docs.msg91.com/collection">API doc</a></li>
                    <li id="menu-item-114"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-114"><a target="_blank"
                        rel="noopener" href="https://help.msg91.com/">FAQ</a></li>
                    <li id="menu-item-6393"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6393"><a target="_blank"
                        rel="noopener" href="https://features.msg91.com/feature-requests">Request a Feature</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 
                               col-xl-3 fotr-links">
              <div id="nav_menu-6" class="widget widget_nav_menu">
                <h5 class="widget-title">Discover</h5>
                <div class="menu-discover-container">
                  <ul id="menu-discover" class="menu">
                    <li id="menu-item-1218"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1218"><a
                        href="/about-us/">About Us</a></li>
                    <li id="menu-item-5587"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5587"><a
                        href="/pricing/">Pricing</a></li>
                    <li id="menu-item-2213"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2213"><a
                        href="/contact-us/">Contact us</a></li>
                    <li id="menu-item-4348"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4348"><a
                        href="/partner-program/">Partner Program</a></li>
                    <li id="menu-item-4777"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4777"><a
                        href="/sms-campaign/">SMS Campaign</a></li>
                    <li id="menu-item-4486"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4486"><a
                        href="/developers/">MSG91 Developers</a></li>
                    <li id="menu-item-3207"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3207"><a
                        href="/startups/">MSG91 for Startups</a></li>
                    <li id="menu-item-4335"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4335"><a
                        href="/communication-addons/">Tools and Addons</a></li>
                    <li id="menu-item-3206"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3206"><a
                        href="/our-partners/">Our Partners</a></li>
                    <li id="menu-item-125"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-125"><a target="_blank"
                        rel="noopener" href="https://apply.workable.com/walkover/">Career</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- emd onner row -->
      </div>
    </div>

    <div class="footer-copyright container">
      <div class="row align-items-center">
        <div class="col-md-9 copyright">
          <div id="text-3" class="widget widget_text">
            <div class="textwidget">
              <p style="color: #6c6c6c;">Copyright 2008-2020 MSG91 | All rights reserved.</p>
            </div>
          </div>
          <div id="nav_menu-8" class="widget widget_nav_menu">
            <div class="menu-secondary-menu-container">
              <ul id="menu-secondary-menu" class="menu">
                <li id="menu-item-2222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2222">
                  <a href="/terms-of-use/">Terms of use</a></li>
                <li id="menu-item-2220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2220">
                  <a href="/privacy-policy/">Privacy policy</a></li>
                <li id="menu-item-2218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2218">
                  <a href="/gdpr/">GDPR</a></li>
                <li id="menu-item-2219" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2219">
                  <a href="/no-spam-policy/">No spam</a></li>
                <li id="menu-item-4153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4153">
                  <a href="/startups-policy/">Startup Policy</a></li>
                <li id="menu-item-2217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2217">
                  <a href="/fair-pricing-policy/">Fair pricing policy</a></li>
                <li id="menu-item-2221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2221">
                  <a href="/refund-policy/">Refund policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-right powered-by">
          <div id="custom_html-7" class="widget_text widget widget_custom_html">
            <div class="textwidget custom-html-widget">
              <p style="color:white">
                A product of <img alt="Walkover"
                  src="https://msg91.com/wp-content/uploads/sites/4/2020/06/walkover-icon.png"> <a target="_blank"
                  href="https://walkover.in/" rel="nofollow noopener"> <strong>Walkover</strong></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-container container">
      <div class="row">
        <div id="text-5" class="widget widget_text col-12 text-center">
          <div class="textwidget">
            <p>Our Associations</p>
          </div>
        </div>
        <div id="media_image-24" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/6.png"
            class="image wp-image-80  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-25" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/5.png"
            class="image wp-image-81  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-26" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/4.png"
            class="image wp-image-82  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-27" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/3.png"
            class="image wp-image-83  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-28" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/2.png"
            class="image wp-image-84  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
        <div id="media_image-29" class="widget widget_media_image col-lg-2 col-md-4 col-6 text-center"><img width="131"
            height="73" src="/wp-content/uploads/sites/4/2020/06/1.png"
            class="image wp-image-85  attachment-full size-full" alt="" loading="lazy"
            style="max-width: 100%; height: auto;"></div>
      </div>
    </div>
  </div>
</footer>