.elementor-container-policy {
	max-width: 1110px !important;
}

 .elementor-element.elementor-element-61780a8c,
.elementor-1682 .elementor-element.elementor-element-6c8fecf,
.policy-wrapper
{
	margin-top: 100px;
	margin-bottom: 100px;
}

 .elementor-element .menu-item a.uael-menu-item,
 .elementor-element .menu-item a.uael-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

 .elementor-element .menu-item a.uael-menu-item {
	font-size: 18px;
}

 .elementor-element .menu-item a.uael-menu-item:not(.elementor-button),
 .elementor-element .sub-menu a.uael-sub-menu-item {
	color: #222222;
}

 .elementor-element .menu-item a.uael-menu-item:not(.elementor-button):hover,
 .elementor-element .sub-menu a.uael-sub-menu-item:hover,
 .elementor-element .menu-item.current-menu-item a.uael-menu-item:not(.elementor-button),
 .elementor-element .menu-item a.uael-menu-item.highlighted:not(.elementor-button),
 .elementor-element .menu-item a.uael-menu-item:not(.elementor-button):focus {
	color: #1E75BA;
}

 .elementor-element .menu-item.current-menu-item a.uael-menu-item:not(.elementor-button),
 .elementor-element .menu-item.current-menu-ancestor a.uael-menu-item:not(.elementor-button),
 .elementor-element .menu-item.custom-menu-active a.uael-menu-item:not(.elementor-button) {
	color: #1E75BA;
}

 .elementor-element .sub-menu,
 .elementor-element nav.uael-dropdown,
 .elementor-element .uael-nav-menu nav.uael-dropdown-expandible,
 .elementor-element .uael-nav-menu nav.uael-dropdown-expandible .menu-item a.uael-menu-item,
 .elementor-element .uael-nav-menu nav.uael-dropdown-expandible .menu-item .sub-menu,
 .elementor-element nav.uael-dropdown .menu-item a.uael-menu-item,
 .elementor-element nav.uael-dropdown .menu-item a.uael-sub-menu-item {
	background-color: #fff;
}

 .elementor-element .sub-menu li a.uael-sub-menu-item,
 .elementor-element nav.uael-dropdown li a.uael-menu-item,
 .elementor-element nav.uael-dropdown li a.uael-sub-menu-item,
 .elementor-element nav.uael-dropdown-expandible li a.uael-menu-item,
 .elementor-element nav.uael-dropdown-expandible li a.uael-sub-menu-item {
	padding-left: 15px;
	padding-right: 15px;
}

 .elementor-element .sub-menu a.uael-sub-menu-item,
 .elementor-element nav.uael-dropdown li a.uael-menu-item,
 .elementor-element nav.uael-dropdown li a.uael-sub-menu-item,
 .elementor-element nav.uael-dropdown-expandible li a.uael-menu-item,
 .elementor-element nav.uael-dropdown-expandible li a.uael-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

 .elementor-element .sub-menu li.menu-item:not(:last-child),
 .elementor-element nav.uael-dropdown li.menu-item:not(:last-child),
 .elementor-element nav.uael-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-bottom-width: 1px;
}

 .elementor-element.elementor-element-49f2fbb4 {
	text-align: left;
}

 .elementor-element.elementor-element-49f2fbb4 .elementor-heading-title {
	color: #222222;
	font-size: 40px;
}

 .elementor-element.elementor-element-24b6045:not(.elementor-motion-effects-element-type-background),
 .elementor-element.elementor-element-24b6045>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F8F8F8;
}

 .elementor-element.elementor-element-24b6045 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 33px;
	margin-bottom: 23px;
	padding: 26px 18px 26px 18px;
}

 .elementor-element.elementor-element-24b6045>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

 .elementor-element.elementor-element-5708e4ed {
	color: #222222;
	font-size: 18px;
	font-weight: bold;
}

 .elementor-element.elementor-element-6e145ddb {
	color: #222222;
	font-size: 18px;
	font-weight: 500;
}

 .elementor-element.elementor-element-4b20101d {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: rgba(112, 112, 112, 0.25882352941176473);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 26px 18px 26px 18px;
}

 .elementor-element.elementor-element-4b20101d>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

 .elementor-element.elementor-element-7f7414fc .elementor-heading-title {
	font-size: 32px;
}

 .elementor-element.elementor-element-566c33b2 {
	color: #222222;
	font-size: 24px;
	font-weight: bold;
}

 .elementor-element.elementor-element-566c33b2>.elementor-widget-container {
	margin: 11px 0px 0px 0px;
}

 .elementor-element.elementor-element-5db78343 {
	color: #222222;
	font-size: 16px;
	line-height: 28px;
}

 .elementor-element.elementor-element-5db78343>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

 .elementor-element.elementor-element-6d725c65 {
	color: #222222;
	font-size: 24px;
	font-weight: 600;
}

 .elementor-element.elementor-element-7a87676a {
	color: #222222;
	font-size: 16px;
	line-height: 28px;
}

 .elementor-element.elementor-element-7a87676a>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

 .elementor-element.elementor-element-48f72223 {
	color: #222222;
	font-size: 24px;
	font-weight: 600;
}

 .elementor-element.elementor-element-43a09d0b {
	color: #222222;
	font-size: 16px;
	line-height: 28px;
}

 .elementor-element.elementor-element-43a09d0b>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

 .elementor-element.elementor-element-4618a658 {
	color: #222222;
	font-size: 24px;
	font-weight: 600;
}

 .elementor-element.elementor-element-51b4d560 {
	color: #222222;
	font-size: 16px;
}

 .elementor-element.elementor-element-65def2cc {
	color: #222222;
	font-size: 16px;
}

@media(max-width:767px) {
	 .elementor-element>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	 .elementor-element.elementor-element-49f2fbb4 .elementor-heading-title {
		font-size: 32px;
	}

	 .elementor-element.elementor-element-49f2fbb4>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	 .elementor-element.elementor-element-24b6045 {
		margin-top: 20px;
		margin-bottom: 0px;
	}

	 .elementor-element.elementor-element-4b20101d {
		margin-top: 20px;
		margin-bottom: 0px;
	}
}

@media(min-width:768px) {
	 .elementor-element.elementor-element-479bed3a,
	 .elementor-element.elementor-element-479bed3a,
	.elementor-1682 .elementor-element.elementor-element-3d64b8e6,
	.elementor-column-left
	 {
		width: 20% !important;
	}

	 .elementor-element.elementor-element-1d6424e2,
	 .elementor-column-right
	  {
		width: 80% !important;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	 .elementor-element.elementor-element-479bed3a,
	 .elementor-column-left
	  {
		width: 30%;
	}

	 .elementor-element.elementor-element-1d6424e2,
	 .elementor-column-right
	 {
		width: 69%;
	}
}