<head>

<!-- Required meta tags -->



<!-- empty dynamic inserting title -->









<!--  echo " - ".get_bloginfo( 'description' );  -->
<meta name="robots" content="index,follow,noarchive,noodp">
<link rel="shortcut icon" href="https://msg91.com/wp-content/themes/muteweb/favicon.ico" type="image/x-icon">
<link rel="icon" href="https://msg91.com/wp-content/themes/muteweb/favicon.ico" type="image/x-icon">
<link rel="pingback" href="/xmlrpc.php">
<!-- <link rel="alternate" href="" hreflang="en" />
<link rel="alternate" href="" hreflang="en" /> -->
<!-- <link rel="preload" href="/wp-content/themes/muteweb/styles.css" as="style"> -->
<link rel="preload" href="https://msg91.com/wp-content/themes/muteweb/assets/fonts/ProximaNovaT-Thin.woff2"
type="font/woff2" as="font" crossorigin>
<link rel="preload" href="https://msg91.com/wp-content/themes/muteweb/assets/fonts/ProximaNova-Regular.woff2"
type="font/woff2" as="font" crossorigin>
<!-- <link rel="preload" href="/wp-content/themes/muteweb/assets/fonts/ProximaNovaT-Bold.woff2" type="font/woff2" as="font" crossorigin /> -->
<link rel="preload" href="https://msg91.com/wp-content/themes/muteweb/assets/fonts/SamsungSharpSans.woff2"
type="font/woff2" as="font" crossorigin>
<link rel="preload" href="https://msg91.com/wp-content/themes/muteweb/assets/fonts/SamsungSharpSans-Medium.woff2"
type="font/woff2" as="font" crossorigin>
<link rel="preload" href="https://msg91.com/wp-content/themes/muteweb/assets/fonts/SamsungSharpSans-Bold.woff"
type="font/woff2" as="font" crossorigin>





<!-- All in One SEO 4.1.7 -->
<title>Indialends ensures seamless operations for their customers’ using MSG91</title>
<meta name="description"
content="A growing collection of customer success stories. Learn how businesses across industries are using CPaaS to effectively drive success.">
<meta name="robots" content="nofollow, max-image-preview:large">
<link rel="canonical" href="/case-studies/">
<meta property="og:locale" content="en_US">
<meta property="og:site_name"
content="MSG91 | MSG91 cloud communication platform- SMS, Email, Voice, Authentication">
<meta property="og:type" content="article">
<meta property="og:title" content="Customer stories I MSG91">
<meta property="og:description"
content="A growing collection of customer success stories. Learn how businesses across industries are using CPaaS to effectively drive success.">
<meta property="og:url" content="/case-studies/">
<meta property="og:image" content="/wp-content/uploads/sites/4/2020/07/msg91_logo.svg">
<meta property="og:image:secure_url" content="/wp-content/uploads/sites/4/2020/07/msg91_logo.svg">
<meta property="article:published_time" content="2020-08-12T05:12:13+00:00">
<meta property="article:modified_time" content="2020-09-22T05:52:51+00:00">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Customer stories I MSG91">
<meta name="twitter:description"
content="A growing collection of customer success stories. Learn how businesses across industries are using CPaaS to effectively drive success.">
<meta name="twitter:image" content="/wp-content/uploads/sites/4/2020/07/msg91_logo.svg">

<!-- All in One SEO -->

<link rel="dns-prefetch" href="//s.w.org">
<!-- This site uses the Google Analytics by MonsterInsights plugin v8.3.4 - Using Analytics tracking - https://www.monsterinsights.com/ -->
<!-- Note: MonsterInsights is not currently configured on this site. The site owner needs to authenticate with Google Analytics in the MonsterInsights settings panel. -->
<!-- No UA code set -->
<!-- / Google Analytics by MonsterInsights -->

<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<style id="global-styles-inline-css" type="text/css">
body {
	--wp--preset--color--black: #000000;
	--wp--preset--color--cyan-bluish-gray: #abb8c3;
	--wp--preset--color--white: #ffffff;
	--wp--preset--color--pale-pink: #f78da7;
	--wp--preset--color--vivid-red: #cf2e2e;
	--wp--preset--color--luminous-vivid-orange: #ff6900;
	--wp--preset--color--luminous-vivid-amber: #fcb900;
	--wp--preset--color--light-green-cyan: #7bdcb5;
	--wp--preset--color--vivid-green-cyan: #00d084;
	--wp--preset--color--pale-cyan-blue: #8ed1fc;
	--wp--preset--color--vivid-cyan-blue: #0693e3;
	--wp--preset--color--vivid-purple: #9b51e0;
	--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
	--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
	--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
	--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
	--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
	--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
	--wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
	--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
	--wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
	--wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
	--wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
	--wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
	--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
	--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
	--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
	--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
	--wp--preset--duotone--midnight: url('#wp-duotone-midnight');
	--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
	--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
	--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
	--wp--preset--font-size--small: 13px;
	--wp--preset--font-size--medium: 20px;
	--wp--preset--font-size--large: 36px;
	--wp--preset--font-size--x-large: 42px;
}

.has-black-color {
	color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
	color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
	color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
	color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
	color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
	color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
	color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
	color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
	color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
	color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
	color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
	color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
	background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
	background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
	background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
	background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
	background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
	background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
	background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
	background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
	background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
	background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
	background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
	background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
	border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
	border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
	border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
	border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
	border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
	border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
	border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
	border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
	border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
	border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
	border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
	border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
	background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
	background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
	background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
	background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
	background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
	background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
	background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
	background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
	background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
	background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
	background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
	background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
	font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
	font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
	font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
	font-size: var(--wp--preset--font-size--x-large) !important;
}
</style>











<link rel="stylesheet" id="elementor-post-4154-css"
href="/wp-content/uploads/sites/4/elementor/css/post-4154.css?ver=1646738607" type="text/css" media="all">





<!-- OG: 3.1.1 -->
<meta property="og:image" content="/wp-content/uploads/sites/4/2020/08/case_studies_banner.png">
<meta property="og:image:secure_url" content="/wp-content/uploads/sites/4/2020/08/case_studies_banner.png">
<meta property="og:image:width" content="726">
<meta property="og:image:height" content="147">
<meta property="og:image:alt" content="case_studies_banner">
<meta property="og:image:type" content="image/png">
<meta property="og:description" content="Case Studies">
<meta property="og:type" content="article">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="MSG91">
<meta property="og:title" content="Case Studies">
<meta property="og:url" content="/case-studies/">
<meta property="og:updated_time" content="2020-09-22T05:52:51+00:00">
<meta property="article:published_time" content="2020-08-12T05:12:13+00:00">
<meta property="article:modified_time" content="2020-09-22T05:52:51+00:00">
<meta property="article:author:username" content="faiz">
<meta property="twitter:partner" content="ogwp">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="/wp-content/uploads/sites/4/2020/08/case_studies_banner.png">
<meta property="twitter:image:alt" content="case_studies_banner">
<meta property="twitter:title" content="Case Studies">
<meta property="twitter:description" content="Case Studies">
<meta property="twitter:url" content="/case-studies/">
<meta itemprop="image" content="/wp-content/uploads/sites/4/2020/08/case_studies_banner.png">
<meta itemprop="name" content="Case Studies">
<meta itemprop="headline" content="Case Studies">
<meta itemprop="description" content="Case Studies">
<meta itemprop="datePublished" content="2020-08-12">
<meta itemprop="dateModified" content="2020-09-22T05:52:51+00:00">
<meta itemprop="author" content="faiz">
<meta property="profile:username" content="faiz">
<!-- /OG -->

<link rel="https://api.w.org/" href="/wp-json/">
<link rel="alternate" type="application/json" href="/wp-json/wp/v2/pages/4154">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 5.9">
<link rel="shortlink" href="/?p=4154">
<link rel="alternate" type="application/json+oembed"
href="/wp-json/oembed/1.0/embed?url=httpsmsg91.com%2Fes%2Fcase-studies%2F">
<link rel="alternate" type="text/xml+oembed"
href="/wp-json/oembed/1.0/embed?url=httpsmsg91.com%2Fes%2Fcase-studies%2F&#038;format=xml">
<style type="text/css">
.recentcomments a {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
}
</style>

<meta name="msapplication-TileImage" content="/wp-content/uploads/sites/4/2020/06/cropped-logo-270x270.png">
<style type="text/css" id="wp-custom-css">
.testimonials .team-card .card-text {
	color: #b3b3b3;
}

.privacy-option-text a {
	color: #222222;
}

.infrastructure-box .elementor-widget-container,
.infrastructure-box {
	height: 100%;
}

a.extrovert-faq {
	display: inline !important;
	text-decoration: underline;
}

span.extrovert-list {
	margin-left: 12px;
}

.b2b-text {
	min-height: 105px;
}

.b2b-card-header {
	min-height: 115px;
	background: #efefef;
	display: flex;
	align-items: center;
}

.wrapper-404 {
	padding: 80px 0;
}

.wrapper-404 h2 {
	font-size: 48px;
	font-weight: 500;
	color: #222222;
	margin: 55px 0 18px 0;
}

.wrapper-404 p {
	font-size: 18px;
	color: #8f8f8f;
}

.wrapper-404 p.use-links {
	font-size: 24px;
	color: #222;
}

.wrapper-404 p.use-links a {
	color: #1592E6;
	border-bottom: 1px solid #1592E6;
	margin: 0 5px;
}

.addons-card-header {
	background: #f9f9f9 !important;
	min-height: 110px;
	border: none !important;
	display: flex;
	align-items: center;
}

.addons-card-header .elementor-widget-container {
	border: none !important;
}

.addons-card-text {
	min-height: 230px;
}

.addon-great-box a {
	color: #4f5258;
}

.setp-box {
	padding: 10px 0 1px 16px;
	background: #f5f7f9;
}

.setp-box h2 {
	text-transform: uppercase;
	font-family: "Proxima Nova", sans-serif;
	font-size: 16px;
	border-bottom: 1px solid;
	display: inline-block;
	padding: 0 32px 2px 0;
}

.setp-box p {
	font-size: 12px;
}

.setp-box.bg-dark {
	border-left: 20px solid #222;
}

.setp-box.bg-dark h2 {
	border-color: #222;
}

.setp-box.bg-yellow {
	border-left: 20px solid #bf941f;
}

.setp-box.bg-yellow h2 {
	border-color: #bf941f;
}

.setp-box.bg-green {
	border-left: 20px solid #537C7C;
}

.setp-box.bg-green h2 {
	border-color: #537C7C;
}

.spreadsheet-banner .elementor-heading-title span {
	background: url(https://msg91.com/wp-content/uploads/sites/4/2020/07/spreadsheet-1.png) no-repeat;
	height: 100%;
	background-size: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.flow-is-heading .elementor-widget-container {
		background-position: 12% 0px !important;
	}

	.trusted-text .elementor-widget-container {
		background-position: 151px 10px !important;
	}
}

@media (max-width: 1199px) {
	.fa2-heading .elementor-widget-container {
		background-position: 86% 3px;
	}

	.hello-stand-heading .elementor-widget-container {
		background-position: 50% 9px;
	}

	.flow-is-heading .elementor-widget-container {
		background-position: 12% 0px;
	}

	.trusted-text .elementor-widget-container {
		background-position: 143px 9px;
	}
}

@media(max-width: 1169px) {
	.send-2fa-heading .elementor-widget-container {
		background-position: 86% 3px !important;
	}

	.start-banner-head .elementor-widget-container {
		background-position: 63% 8px !important;
	}

	.startup-today-head br {
		display: none;
	}

	.startup-grow-heading .elementor-widget-container {
		background-position: -4px -1px !important;
	}

	.pro-vice-banner-h .elementor-widget-container {
		background-position: 0 51% !important;
	}

	.voice-direct-h .elementor-widget-container {
		background-position: 79% 1px;
	}

	.voice-heading .elementor-widget-container {
		background-position: 678px 4px !important;
		background-size: 175px !important;
	}

	.it-partners .elementor-widget-container {
		background-position: 429px 18px !important;
	}

	.trans-email-heading .elementor-widget-container {
		background-position: 0 120px !important;
	}

	.trans-intergration .elementor-heading-title {
		font-size: 35px !important;
	}

	.trans-intergration .elementor-widget-container {
		background-position: 38% 0px !important;
		background-size: 183px !important;
	}

	.trans-optimize-head .elementor-heading-title {
		font-size: 28px !important;
	}
}

@media(max-width: 991px) {
	.start-banner-head .elementor-widget-container {
		background-position: 100% 8px !important;
	}

	.voice-bild-box .elementor-column-wrap {
		height: 100%;
	}

	.it-partners .elementor-widget-container {
		background-position: 290px 4px !important;
	}

	.trans-email-heading .elementor-widget-container {
		background-position: 0 102px !important;
	}

	.trans-intergration .elementor-widget-container {
		background-position: 0 35px !important;
		background-size: 203px !important;
	}

	.direct-man-wrapper h3.elementor-heading-title {
		line-height: 39px;
		padding: 40px 0 50px 0;
	}
}

@media (max-width:767px) {
	.down-icon img {
		transform: rotate(90deg);
	}
}

@media(max-width: 450px) {
	.do-more-heading .elementor-widget-container {
		background-position: 10% 0px !important;
	}

	.flow-is-heading .elementor-widget-container {
		background-position: 2% 0px;
	}

	.home-invisible-heading .elementor-heading-title {
		font-size: 26px !important;
	}

	.start-banner-head .elementor-widget-container {
		background-position: 208px 2px !important;
		background-size: 150px auto !important;
	}

	.voice-direct-h .elementor-widget-container {
		background-position: 100% 0 !important;
		background-size: 35% auto !important;
	}

	.api-build-heading .elementor-widget-container {
		background-position: 25px 3px !important;
		background-size: 87px auto !important;
	}

	.it-partners .elementor-widget-container {
		background-position: 130PX 4px !important;
	}

	.wrapper-404 p.use-links {
		font-size: 16px;
	}

	.trans-intergration .elementor-widget-container {
		background-position: 160px 0 !important;
		background-size: 203px !important;
	}

	.direct-man-wrapper h3.elementor-heading-title {
		font-size: 24px;
	}
}

@media(max-width: 375px) {
	.wrapper-404 h2 {
		font-size: 38px;
	}

	.trans-email-heading .elementor-widget-container {
		background-position: -20px 75px !important;
	}
}

@media(max-width: 320px) {
	.wrapper-404 p.use-links {
		font-size: 13px;
	}

	.trans-intergration .elementor-heading-title {
		font-size: 28px !important;
	}

	.trans-intergration .elementor-widget-container {
		background-position: 89px -2px !important;
		background-size: 203px !important;
	}
}
</style>



</head>

<body
class="page-template page-template-template page-template-case-studies page-template-templatecase-studies-php page page-id-4154 wp-custom-logo mega-menu-primary-menu mega-menu-direct-signup-menu case-studies elementor-default elementor-kit-13 elementor-page elementor-page-4154">


<style>
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns=" http: //www.w3.org/2000/svg" fill="%23fff" width="8" height="8" viewBox="0 0 8 8"%3e%3cpath d="M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z"/%3e%3c/svg%3e");
	}

	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns=" http: //www.w3.org/2000/svg" fill="%23fff" width="8" height="8" viewBox="0 0 8 8"%3e%3cpath d="M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z"/%3e%3c/svg%3e");
		}

		.country-top {
			background: #393939;
			min-height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			z-index: 9991;
			top:0;
		}

		.country-top p {
			font-size: 14px;
			color: #F7F8F8;
			margin: 7px 0 0 0;
		}

		.country-top select {
			width: 325px;
			background: #7c7c7c;
			color: #fff;
			border-radius: 0;
			background-image: url(https://msg91.com/wp-content/uploads/sites/4/2020/09/country_arrow.svg);
			background-repeat: no-repeat;
			background-position: center right 12px;
			appearance: none;
			-webkit-appearance: none !important;
			padding: 6px 0 4px 30px;
			position: relative;
		}

		.country-check {
			position: relative;
			right: -20px;
			z-index: 1;
		}

		.top-country-box button {
			background-color: #1E75BA;
			padding: 6px 15px 7px 16px;
			font-size: 16px;
			text-decoration: none;
			border-radius: 2px;
			margin-left: 16px;
			color: #fff;
			border: none;
		}

		.top-country-box button:hover {
			background-color: #7c7c7c;
		}

		.country-body {
			background-color: #454444 !important;
			padding: 30px 0 31px 0;
			max-width: 400px;
			margin: 0 auto;
			position: relative;
		}

		.country-body p {
			margin: 0 0 12px 30px;
			color: #fff;
			font-size: 18px;
			text-align:left;
		}

		.country-box {
			display: flex;
			padding: 0 30px 0 20px;
			position:relative;
		}

		.country-box button:hover {
			background-color: #000;
		}

		.country-body .close {
			color: #fff;
			opacity: 1;
			position: absolute;
			top: -20px;
			right: 15px;
			cursor: pointer;
		}
</style>


<!-- end -->

<div class="main-body">

<div class="container">
	<div class="row">
		<div class="case-study-banner text-center col-12">
			<div data-elementor-type="wp-page" data-elementor-id="4154" class="elementor elementor-4154"
				data-elementor-settings="[]">
				<div class="elementor-inner">
					<div class="elementor-section-wrap">
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-e1c153f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="e1c153f" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-row">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2223423"
										data-id="2223423" data-element_type="column">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-9c60f05 elementor-widget elementor-widget-heading"
													data-id="9c60f05" data-element_type="widget"
													data-widget_type="heading.default">
													<div class="elementor-widget-container">
														<h2
															class="elementor-heading-title elementor-size-default">
															Customer Stories of<br>
															businesses successfully using MSG91 APIs</h2>
													</div>
												</div>
												<div class="elementor-element elementor-element-b6bb4da elementor-widget elementor-widget-text-editor"
													data-id="b6bb4da" data-element_type="widget"
													data-widget_type="text-editor.default">
													<div class="elementor-widget-container">
														<div class="elementor-text-editor elementor-clearfix">
															Use SMS, Email, Voice APIs to trigger your
															communications from within your product </div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/case_studies_banner.png"
				alt="Case Studies">
		</div>
		<div class="case-study-tabs col-12">
			<ul class="nav nav-pills nav-fill">
				<li class="nav-item">
					<a class="nav-link active" id="case-study-1" href="javascript:void(0)">All</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" id="case-study-20" href="javascript:void(0)">Account Security</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" id="case-study-15" href="javascript:void(0)">Build In Communication</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" id="case-study-26" href="javascript:void(0)">Startups</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" id="case-study-28" href="javascript:void(0)">Transactional SMS</a>
				</li>
			</ul>
		</div>

	</div>
	<div class="case-study-list row">
		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/azim-premji-foundation/">
						<img class="img-fluid"
							src="/wp-content/uploads/sites/4/2020/08/azim-premji-foundation.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/azim-premji-foundation/">
							Azim Premji Foundation informs teachers and trainers using SMS via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3;"><a style="color: #156bb3;"
								href="http://azimpremjifoundation.org/">Azim Premji Foundation</a></span> is an
						NGO which works in the fields of Education. With the vision to help people with proper
						education by conducting classes and creating awareness, Azim Premji Foundation has been
						rigorously working on coordinating with the teachers for social welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/ngo">NGO</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
					<a class="case-study-tag" href="/case-studies/tag/unicode">Unicode</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/craypolar/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Web-1366-–-25.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/craypolar/">
							Craypolar communicates with its customers using SMS via MSG91</a></h4>
					<p></p>
					<p><a href="https://www.craypolar.com/"><span style="color: #565b73"><span
									style="color: #156bb3">Craypolar</span></span></a> provides CRM services to
						Gym and Fitness centres, where they communicate to their customers information, offers
						and updates regularly. With the vision to help the customers get seamless fitness
						services in time, Craypolar has been rigorously working on the operations for the
						customer’s welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/crm">CRM</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/ixigo/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/ixigo.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/ixigo/">
							Ixigo ensures seamless communication using SMS via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.ixigo.com/">Ixigo</a></span> provides travel and hospitality
						based services, where they communicate information, offers and updates to their
						customers regularly. With the vision to help the customers get seamless travel and
						hospitality services in time, Ixigo has been rigorously working on the operations for
						the customer’s welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/food-travel-and-hospitality">Food Travel
						and Hospitality</a>
					<a class="case-study-tag" href="/case-studies/tag/promotional-sms">Promotional SMS</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-1 case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/milkbasket/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/milkbasket.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/milkbasket/">
							Milkbasket sends regular updates to their customers’ via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://milkbasket.com/">Milkbasket</a></span> is an E-commerce platform
						providing milk and grocery at doorsteps. With the vision to offer their customers a
						seamless customized delivery, and to ensure it happens efficiently, Milkbasket has been
						rigorously working on sending the updates and information for their customers security
						and satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/e-commerce">E-commerce</a>
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/talkcharge/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/talkcharge_1.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/talkcharge/">
							TalkCharge updates their customers’ regularly via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.talkcharge.com/">TalkCharge</a></span> is a recharge wallet
						and E-commerce platform. With the vision to offer their customers secured wallet, and to
						ensure it happens efficiently, TalkCharge has been rigorously working on sending the
						updates and information for their customers security and satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/e-commerce">E-commerce</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-1 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/razorpay/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/razorpay.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/razorpay/">
							Razorpay ensures their customers’ security via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://razorpay.com/">Razorpay</a></span> is a payment gateway. With the
						vision to offer their customers secured payment gateways integrated with web and mobile
						applications. To ensure it happens efficiently, Razorpay has been rigorously working on
						sending the OTPs and payment links for their customers security and satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/fintech">Fintech</a>
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-1 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/zebpay/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Zebpay.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/zebpay/">
							Zebpay ensures their customers’ security via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.zebpay.com/">Zebpay</a></span> is an app-enabled
						cryptocurrency exchange. With the vision to offer their customers with secured bitcoin
						transactions, and to ensure it happens efficiently, Zebpay has been rigorously working
						on sending the OTPs for their customers security and satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/fintech">Fintech</a>
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/eurokids/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Eurokids.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/eurokids/">
							Eurokids updates parents of their children’s school activities via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://play.google.com/store/apps/details?id=com.ionicframework.eurokids149799&amp;hl=en_IN">Euro
								Kids</a></span> is a chain of Schools and Pre-schools across different cities in
						India. With the vision to offer their students with quality education and ensure their
						safety and overall development, Euro Kids has been rigorously working on sending the
						students’ updates for their parent’s satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/education">Education</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/blackbuck/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/blackbuck-logo-1.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/blackbuck/">
							Blackbuck conducts seamless operations using SMS communication via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.blackbuck.com/">Blackbuck</a></span> is an online marketplace
						platform for freight where shippers and fleet operators can engage seamlessly. With the
						vision to make freight a seamless experience, and to ensure it happens efficiently,
						Blackbuck has been rigorously working on establishing a robust communication network for
						their customers’ satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/logistics">Logistics</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/barbeque-nation/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/barbequenation.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/barbeque-nation/">
							Barbeque Nation updates customers of their orders via MSG91</a></h4>
					<p></p>
					<p><a href="https://www.barbequenation.com/"><span style="color: #156bb3">Barbeque
								Nation</span></a> is a Restaurant chain across different cities in India. With
						the vision to offer their customers with quality food with a good experience, and to
						ensure it happens efficiently, Barbeque Nation has been rigorously working on sending
						the booking updates for their customer’s satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/food-travel-and-hospitality">Food Travel
						and Hospitality</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/policy-bazaar/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Policybazaar_2.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/policy-bazaar/">
							Policy Bazaar updates its customers using SMS via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.policybazaar.com/">Policy Bazaar</a></span> is a finance based
						services, where they update their customers with offers and updates on various financial
						services. With the vision to help the customers get the due updates in time, Policy
						Bazaar has been rigorously working on the financial consulting services for the
						customer’s welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/fintech">Fintech</a>
					<a class="case-study-tag" href="/case-studies/tag/promotional-sms">Promotional SMS</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/joey-rooms/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Web-1366-–-14.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/joey-rooms/">
							Joey Rooms keeps their clients updated with SMS via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.joeyrooms.com/">Joey Rooms</a></span> is an online platform
						where you can find PG and hostel accommodations on monthly and daily basis rental. With
						the vision to help their customers in finding the right and cost-effective accommodation
						in Hyderabad and Bangalore, Joey Rooms has been rigorously working on the providing
						better services for the customer’s welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/food-travel-and-hospitality">Food Travel
						and Hospitality</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-28 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/leadsquared/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/leadsue.jpg" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/leadsquared/">
							LeadSquared updates the customers of their clients across industries via MSG91</a>
					</h4>
					<p></p>
					<p><a href="https://www.leadsquared.com/"><span
								style="color: #156bb3">LeadSquared</span></a> is a lead conversion Marketing and
						CRM platform. With the vision to offer their customers with the best Marketing automated
						services, and to ensure the lead conversions happen efficiently, LeadSquared has been
						rigorously working on sending the various updates and information for their customer’s
						satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/crm">CRM</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/letsshave/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/letsshave.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/letsshave/">
							LetsShave updates customers of their orders and offers with SMS via MSG91</a></h4>
					<p></p>
					<p>LetsShave is an E-commerce <span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.letsshave.com/">website</a></span> which sells shaving
						accessories manufactured by them. With the vision to offer their customers with quality
						grooming supplies at their doorsteps, LetsShave has partnered with one of the talented
						pioneers of razor industry, Dorco. Dorco has been manufacturing world’s finest blades
						since 1955. Today, they are serving over 100 million people who enjoy the comfortable
						shave and look their best in more than 130 countries around the world. To ensure a
						seamless and efficient service, LetsShave has been rigorously working on sending the
						order updates for their customer’s satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/e-commerce">E-commerce</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-1 case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/grabonrent/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Web-1366-–-11.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/grabonrent/">
							GrabOnRent updates customers of their orders and offers with SMS via MSG91</a></h4>
					<p></p>
					<p>GrabOnRent is an online rental services <span style="color: #156bb3"><a
								style="color: #156bb3" href="https://www.grabonrent.com/">website</a></span>
						which rents different lifestyle products such as furniture, bike and other accessories
						across Mumbai, Bengaluru, Hyderabad and Gurugram. To ensure a seamless and efficient
						service on time, GrabOnRent has been rigorously working in sending the order updates and
						other important information for their customer’s satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/kartfood/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/kartfood.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/kartfood/">
							KartFood updates customers of their orders via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="http://kartfood.in/">KartFood</a></span> is a Kashmir based food delivery
						startup. With the vision to offer their customers with quality food at their doorsteps,
						and to ensure it happens efficiently, KartFood has been rigorously working on sending
						the updates for their customer’s satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/food-travel-and-hospitality">Food Travel
						and Hospitality</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-1 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/sankalp-india-foundation/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/sankalp.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/sankalp-india-foundation/">
							Sankalp India Foundation informs blood donors and recipients with SMS via MSG91</a>
					</h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="http://www.sankalpindia.net/">Sankalp India Foundation</a></span> is a
						Bengaluru based NGO which works in the fields of Blood Donation, Thalassemia cure and
						management . With the vision to help people requiring blood units with proper supply of
						blood by conducting blood donation camps and creating awareness, Sankalp India
						Foundation has been rigorously working on coordinating with the donors and patients for
						the their welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/ngo">NGO</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-1 case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/leegality/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Web-1366-–-2.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/leegality/">
							Leegality keeps their clients updated with SMS via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://leegality.com/">Leegality</a></span> is an online legal
						consultancy firm. With the vision to help their customers in legal matters like Aadhar
						e-signing, Leegality has been rigorously working on providing better services for the
						customer’s welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-1 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/oxebox/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Web-1366-–-7.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/oxebox/">
							OxeBox secure their customers’ accounts via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.oxebox.com/">OxeBox</a></span> is a Bengaluru based secured
						e-billing startup. With the vision to offer their customers with secured e-billing,
						OxeBox has been rigorously working on securing the OxeBox accounts for their customer’s
						satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-1 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/loco/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/loco-copy.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/loco/">
							Loco safeguards their customers’ accounts with OTP SMS via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://play.google.com/store/apps/details?id=com.showtimeapp&amp;hl=en">Loco</a></span>
						is a live trivia game linked to Paytm account, where the users play a live quiz and
						receives the prize money into their Paytm accounts upon winning . With the vision to
						offer their customers with the best experience of live trivia game, and to ensure it
						happens securely, Loco has been working on it by sending the OTP upon login and Paytm
						account change for their customer’s satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/trivia-game">Trivia Game</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/technovision/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Web-1366-–-4.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/technovision/">
							Technovision updates customers of their offers with SMS via MSG91</a></h4>
					<p></p>
					<p>Technovision is an E commerce <span style="color: #156bb3"><a style="color: #156bb3"
								href="http://technovisionmobile.com/">website</a></span> which sells mobile
						phones and accessories. To ensure a seamless and efficient service, Technovision has
						been rigorously working on sending the offers updates and other important information
						for their customer’s satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/e-commerce">E-commerce</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/mahindra-mahindra-automotive-division/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/with-you-hamesha.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/mahindra-mahindra-automotive-division/">
							Mahindra &amp; Mahindra Automotive Division keeps their customers updated with SMS
							via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.withyouhamesha.com/default.aspx">Mahindra &amp; Mahindra
								Automotive Division (AD)</a></span> is the automobile unit of the Mahindra
						Group. With the vision to help their customers manage their cars efficiently by their
						top-class car services, and to ensure it happens in time, Mahindra &amp; Mahindra AD has
						been rigorously working on sending reminders and arranging best car services for their
						customer’s welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/automobile">Automobile</a>
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-15 case-study-26 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/clickpost/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Web-1366-–-8.png"
							alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/clickpost/">
							ClickPost update their customers of their orders via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.clickpost.ai/">ClickPost</a></span> is a logistics
						optimization startup which offers services to E-Commerce businesses for orders’
						delivery. With the vision to offer their customers with intact orders delivery at their
						doorsteps, and to ensure it happens efficiently, ClickPost has been rigorously working
						on sending the delivery updates for their customer’s satisfaction.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/logistics">Logistics</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/smart-shift/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Group-3564.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/smart-shift/">
							Smart Shift ensures a hassle-free shift via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://smartshift.in/">Smart Shift</a></span> is the logistics service
						unit of the Mahindra Group where the logistics are transferred across different
						locations in a hassle-free manner. With the vision to help the customers shift or send
						logistics across different locations efficiently, Smart Shift has been rigorously
						working on the logistics services for the customer’s welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/logistics">Logistics</a>
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/mahindra-saboro/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/Saboro-logo.jpg" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/mahindra-saboro/">
							Mahindra Saboro sends order updates to its customers with SMS via MSG91</a></h4>
					<p></p>
					<p>Mahindra <span style="color: #156bb3"><a style="color: #156bb3"
								href="http://www.saboromilk.in/">Saboro</a></span>, is the milk retailing unit
						of the Mahindra Agri, which is the farm and agricultural unit of the Mahindra Group.
						With the vision to help the farmers improve their financials using modern technology and
						selling their higher quality produce at better markets, Saboro has been rigorously
						working in the agri-business for farmer’s welfare.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/e-commerce">E-commerce</a>
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/zinghr/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/zingHr.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/zinghr/">
							ZingHR communicates with the potential candidates using SMS via MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://www.zinghr.com/">ZingHR</a></span> provides HR CRM services to
						various companies, where they communicate with the potential candidates. With the vision
						to help their clients get seamless services in hiring, ZingHR has been rigorously
						working on the operations to the behest of their clients.</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/crm">CRM</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/startup">Startup</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 case-study-post case-study-20 case-study-15 ">
			<div class="case-study-content">
				<div class="case-study-logo">
					<a href="/case-studies/indialends/">
						<img class="img-fluid" src="/wp-content/uploads/sites/4/2020/08/indialends.png" alt="">
					</a>
				</div>
				<div class="case-study-body">
					<h4><a href="/case-studies/indialends/">
							Indialends ensures seamless operations for their customers’ using MSG91</a></h4>
					<p></p>
					<p><span style="color: #156bb3"><a style="color: #156bb3"
								href="https://indialends.com/">Indialends</a></span> is a personal loan
						providing Fintech platform. With the vision to offer their customers a seamless loan
						approval, and to ensure it happens efficiently, Indialends has been rigorously working
						on sending the updates and information for their customers security and satisfaction.
					</p>

				</div>
				<div class="case-study-tags">
					<a class="case-study-tag" href="/case-studies/tag/fintech">Fintech</a>
					<a class="case-study-tag" href="/case-studies/tag/otp">OTP</a>
					<a class="case-study-tag" href="/case-studies/tag/promotional-sms">Promotional SMS</a>
					<a class="case-study-tag" href="/case-studies/tag/services">Services</a>
					<a class="case-study-tag" href="/case-studies/tag/transactional-sms">Transactional SMS</a>
				</div>
			</div>
		</div>

	</div>


</div>
<div class="footer-top-bg text-center"> </div>

<!--|---------------------------Choose-Country-Modal-----------------------------|-->
<div style="display: none;" class="modal fade" id="loginModalCustom" role="dialog"
	aria-labelledby="loginModalCustomTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content country-body rounded-0 border-0">
			<div class="modal-body text-center">
				<p class="text-left">Choose your country or region</p>
				<div class="country-box">
					<img class="country-check"
						src="https://msg91.com/wp-content/uploads/2020/09/country_check.svg"
						alt="country check">
					<select name="selectedCountry" id="selectedCountry">
						<option value="india" selected>India</option>
						<option value="other">Other country
							or region</option>
					</select>
					<button type="button" class="" onclick="changeCountry()">Continue</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--|---------------------------End--------------------|-->

<!-- WP Cookie Notice for GDPR, CCPA & ePrivacy Consent v2.0.7 by WPEka Club - https://wordpress.org/plugins/gdpr-cookie-consent/ -->
<div id="gdpr-cookie-consent-bar"
	class="gdpr gdpr-banner gdpr-default banner-default layout-default theme-muteweb">
	<div class="gdpr_messagebar_content">
		<h3 class="gdpr_messagebar_head">Cookies...</h3>
		<div class="group-description" tabindex="0">
			<p class="gdpr">MSG91.com uses cookies to improve your experience. We’ll assume you’re ok with this,
				but you can opt-out if you wish.
				<a id="cookie_action_link" href="/cookie-policy/" class="gdpr_link_button" target="_blank">Read
					More</a>
			</p>
		</div>
		<div class="gdpr group-description-buttons">
			<a id="cookie_action_accept" class="gdpr_action_button btn" tabindex="0" aria-label="Accept"
				href="#" data-gdpr_action="accept">Yay!</a>
			<a id="cookie_action_reject" class="gdpr_action_button btn" tabindex="0" aria-label="Reject"
				href="#" data-gdpr_action="reject">Decline</a>
			<a id="cookie_action_settings" class="gdpr_action_button " tabindex="0" aria-label="Cookie Settings"
				href="#" data-gdpr_action="show_settings">⚙ Cookie Settings</a>
		</div>
	</div>
	<div class="gdpr_messagebar_detail" style="display:none;max-width:800px;">
		<div>I consent to the use of following cookies:</div>
		<div id="gdpr_messagebar_body_buttons_select_pane">
			<div class="gdpr_messagebar_body_buttons_wrapper">
				<input type="checkbox" id="gdpr_messagebar_body_button_necessary"
					class="gdpr_messagebar_body_button gdpr_messagebar_body_button_disabled" disabled checked
					value="necessary">
				<label for="gdpr_messagebar_body_button_necessary">Necessary</label>
			</div>
			<div class="gdpr_messagebar_body_buttons_wrapper">
				<input type="checkbox" id="gdpr_messagebar_body_button_marketing"
					class="gdpr_messagebar_body_button" tabindex="0" value="marketing">
				<label for="gdpr_messagebar_body_button_marketing">Marketing</label>
			</div>
			<div class="gdpr_messagebar_body_buttons_wrapper">
				<input type="checkbox" id="gdpr_messagebar_body_button_analytics"
					class="gdpr_messagebar_body_button" tabindex="0" value="analytics">
				<label for="gdpr_messagebar_body_button_analytics">Analytics</label>
			</div>
			<div class="gdpr_messagebar_body_buttons_wrapper">
				<input type="checkbox" id="gdpr_messagebar_body_button_preferences"
					class="gdpr_messagebar_body_button" tabindex="0" value="preferences">
				<label for="gdpr_messagebar_body_button_preferences">Preferences</label>
			</div>
			<div class="gdpr_messagebar_body_buttons_wrapper">
				<input type="checkbox" id="gdpr_messagebar_body_button_unclassified"
					class="gdpr_messagebar_body_button" tabindex="0" value="unclassified">
				<label for="gdpr_messagebar_body_button_unclassified">Unclassified</label>
			</div>
		</div>
		<div id="gdpr_messagebar_detail_body">
			<div id="gdpr_messagebar_detail_body_content_tabs">
				<a id="gdpr_messagebar_detail_body_content_tabs_overview"
					class="gdpr_messagebar_detail_body_content_tab gdpr_messagebar_detail_body_content_tab_item_selected"
					tabindex="0" href="#">Cookie Declaration</a>
				<a id="gdpr_messagebar_detail_body_content_tabs_about"
					class="gdpr_messagebar_detail_body_content_tab" tabindex="0" href="#">About Cookies</a>
			</div>
			<div id="gdpr_messagebar_detail_body_content">
				<div id="gdpr_messagebar_detail_body_content_overview" style="display:block;">
					<div id="gdpr_messagebar_detail_body_content_overview_cookie_container">
						<div id="gdpr_messagebar_detail_body_content_overview_cookie_container_types">
							<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_necessary"
								id="gdpr_messagebar_detail_body_content_overview_cookie_container_necessary"
								class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
											gdpr_messagebar_detail_body_content_overview_cookie_container_type_selected
										" tabindex="0" href="#">Necessary (0)</a>
							<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_marketing"
								id="gdpr_messagebar_detail_body_content_overview_cookie_container_marketing"
								class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
										" tabindex="0" href="#">Marketing (0)</a>
							<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_analytics"
								id="gdpr_messagebar_detail_body_content_overview_cookie_container_analytics"
								class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
										" tabindex="0" href="#">Analytics (0)</a>
							<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_preferences"
								id="gdpr_messagebar_detail_body_content_overview_cookie_container_preferences"
								class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
										" tabindex="0" href="#">Preferences (0)</a>
							<a data-target="gdpr_messagebar_detail_body_content_cookie_tabs_unclassified"
								id="gdpr_messagebar_detail_body_content_overview_cookie_container_unclassified"
								class="gdpr_messagebar_detail_body_content_overview_cookie_container_types
										" tabindex="0" href="#">Unclassified (0)</a>
						</div>
						<div id="gdpr_messagebar_detail_body_content_overview_cookie_container_type_details">
							<div id="gdpr_messagebar_detail_body_content_cookie_tabs_necessary" tabindex="0"
								style="display:block;"
								class="gdpr_messagebar_detail_body_content_cookie_type_details">
								<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
									Necessary cookies help make a website usable by enabling basic functions
									like page navigation and access to secure areas of the website. The website
									cannot function properly without these cookies.
								</div>
								<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
									We do not use cookies of this type.
								</div>
							</div>
							<div id="gdpr_messagebar_detail_body_content_cookie_tabs_marketing" tabindex="0"
								style="display:none;"
								class="gdpr_messagebar_detail_body_content_cookie_type_details">
								<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
									Marketing cookies are used to track visitors across websites. The intention
									is to display ads that are relevant and engaging for the individual user and
									thereby more valuable for publishers and third party advertisers.
								</div>
								<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
									We do not use cookies of this type.
								</div>
							</div>
							<div id="gdpr_messagebar_detail_body_content_cookie_tabs_analytics" tabindex="0"
								style="display:none;"
								class="gdpr_messagebar_detail_body_content_cookie_type_details">
								<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
									Analytics cookies help website owners to understand how visitors interact
									with websites by collecting and reporting information anonymously.
								</div>
								<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
									We do not use cookies of this type.
								</div>
							</div>
							<div id="gdpr_messagebar_detail_body_content_cookie_tabs_preferences" tabindex="0"
								style="display:none;"
								class="gdpr_messagebar_detail_body_content_cookie_type_details">
								<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
									Preference cookies enable a website to remember information that changes the
									way the website behaves or looks, like your preferred language or the region
									that you are in.
								</div>
								<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
									We do not use cookies of this type.
								</div>
							</div>
							<div id="gdpr_messagebar_detail_body_content_cookie_tabs_unclassified" tabindex="0"
								style="display:none;"
								class="gdpr_messagebar_detail_body_content_cookie_type_details">
								<div class="gdpr_messagebar_detail_body_content_cookie_type_intro">
									Unclassified cookies are cookies that we are in the process of classifying,
									together with the providers of individual cookies.
								</div>
								<div class="gdpr_messagebar_detail_body_content_cookie_type_table_container">
									We do not use cookies of this type.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="gdpr_messagebar_detail_body_content_about" style="display:none;">
					Cookies are small text files that can be used by websites to make a user's experience more
					efficient. The law states that we can store cookies on your device if they are strictly
					necessary for the operation of this site. For all other types of cookies we need your
					permission. This site uses different types of cookies. Some cookies are placed by third
					party services that appear on our pages.
				</div>
			</div>
		</div>
	</div>
</div>


<div id="gdpr-cookie-consent-show-again" class="gdpr gdpr-banner gdpr-default banner-default layout-default">
	<span>Cookie Settings</span>
</div>
<style>
	.gdpr_messagebar_detail .category-group .category-item .description-container .group-toggle .checkbox input:checked+label:after,
	.gdpr_messagebar_detail.layout-classic .category-group .toggle-group .checkbox input:checked+label:after {
		background: #222222 !important;
	}

	.gdpr_messagebar_detail .gdprmodal-dialog .gdprmodal-header .close,
	#gdpr-ccpa-gdprmodal .gdprmodal-dialog .gdprmodal-body .close {
		color: #222222 !important;
	}
</style>
<link rel="stylesheet" id="gdpr-cookie-consent-css"
	href="/wp-content/plugins/gdpr-cookie-consent/public/css/gdpr-cookie-consent-public.min.css?ver=2.0.7"
	type="text/css" media="all">
<link rel="stylesheet" id="e-animations-css"
	href="/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.5.5" type="text/css"
	media="all">



















<!-- 
-->
<!-- Google Code for Remarketing tag -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->








<!-- to change the country -->



<!--  Code for Phone Number Fields Accepts only numbers -->



<!-- Code To Change the Tabs into the Dropdown in Mobile View -->

<!-- Jquery Scroll to div  ----->







</div>
</body>

</html>